@{
    ViewBag.Title = "GenerarNP";
    Layout = "~/Views/_LayoutPage.cshtml";
}
<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="card">
                <div class="card-header bg-primary">
                    <h3><i class="fa fa-file" aria-hidden="true"></i> NEA-PECOSA</h3>
                    <div class="card-header-right">
                        <ul class="list-unstyled card-option">
                            <li><i class="fa fa-window-maximize full-card" style="color:white"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="card-block">
                    <div class="form-row">
                        <div class="form-group col-sm-2">
                            <label class="control-label">Fecha Inicio</label>
                            <input type="date" id="txtFechaInicio" class="control-form" value="@ViewBag.FechaInicial">
                        </div>
                        <div class="form-group col-sm-2">
                            <label class="control-label">Fecha Final</label>
                            <input type="date" id="txtFechaFinal" class="control-form" value="@ViewBag.Fecha">
                        </div>
                        <div class="form-group col-md-4 m-3">
                            <button class="input-group-inverse btn btn-inverse" id="btnConsultar" data-toggle="tooltip" data-placement="bottom" title="Consultar"><i class="fa fa-search fa-lg" aria-hidden="true"></i></button>
                            <button class="btn btn-out waves-effect waves-light btn-info btn-square" id="btnImprimir" data-toggle="tooltip" data-placement="bottom" title="Imprimir"><i class="fa fa-print fa-lg" aria-hidden="true"></i></button>
                            <button class="btn btn-out waves-effect waves-light btn-primary btn-square" id="btnGenerarPS" data-toggle="tooltip" data-placement="bottom" title="Generar pendiente salida"><i class="fa fa-exchange" aria-hidden="true"></i></button>
                            @*<button class="btn btn-out waves-effect waves-light btn-warning btn-square text-c-green" id="btnReporte" data-toggle="tooltip" data-placement="bottom" title="Mostrar reportes"><i class="fa fa-file-pdf-o text-c-green" aria-hidden="true"></i></button>*@
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="tab-header card">
                                <ul class="nav nav-tabs md-tabs tab-timeline" role="tablist" id="mytab">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="btnTabIngreso" data-toggle="tab" href="#items" role="tab">NEA</a>
                                        <div class="slide"></div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="btnTabSalida" data-toggle="tab" href="#items" role="tab">PECOSA</a>
                                        <div class="slide"></div>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane active" id="items" role="tabpanel">
                                    <div class="card">
                                        <div class="card-block">
                                            <div class="form-row">
                                                <div class="form-group col-md-12">
                                                    <div class="table-responsive" id="divLista"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="modal custom-modal" tabindex="-1" role="dialog" aria-hidden="true" id="divPopupContainer" style="overflow-y:auto;">
                            <div class="modal-dialog modal-xl bg-personalizado" id="divPopupWindow" style="margin-top:1px;">
                                <div class="modal-content">
                                    <div id="divBarra" class="modal-header bg-personalizado" style="cursor:move">
                                        <h5 class="modal-title" id="Titulo">N.E.A.</h5>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <input type="hidden" class="control-form Popup" id="txtIdRegistro">
                                                <label class="control-label">Numero</label>
                                                <label class="control-lectura" id="lblNro"></label>
                                            </div>
                                            <div class="col-sm-2">
                                                <label class="control-label">Fecha</label>
                                                <input type="date" id="ddtFecha" class="control-form" />
                                            </div>
                                            <div class="col-sm-3">
                                                <label class="control-label">Tipo Operación</label>
                                                <label class="control-lectura" id="lblOperacion"></label>
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="control-label">Justificación</label>
                                                <textarea class="control-lectura" disabled id="ttaJusticiacion" maxlength="200" rows="2"></textarea>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <fieldset class="fieldset">
                                                    <legend class="legend">Proveedor</legend>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <label class="control-label">Proveedor</label>
                                                            <label class="control-lectura" id="lblProveedor"></label>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <label class="control-label">Orden Compra</label>
                                                            <label class="control-lectura" id="lblOrdenCompra"></label>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <label class="control-label">Fecha Orden </label>
                                                            <label class="control-lectura" id="lblFechaOrden"></label>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <div class="col-sm-6">
                                                <fieldset class="fieldset">
                                                    <legend class="legend">Internamiento</legend>
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <label class="control-label">Documento</label>
                                                            <label class="control-lectura" id="lblDocumentoGuia"></label>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <label class="control-label">Número</label>
                                                            <label class="control-lectura" id="lblNumeroGuia"></label>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <label class="control-label">Fecha</label>
                                                            <label class="control-lectura" id="lblFechaGuia"></label>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                                <div class="row m-2">
                                                    <div class="col-sm-12">
                                                        <button class="btnCancelarForm" id="btnCancelar" title="Cancelar"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Cancelar</button>
                                                        <button class="btnGuardarForm bg-customer" id="btnEmitirNEA" title="Emitir NEA"><span class="fa fa-save"></span>&nbsp;Grabar</button>
                                                        <button class="btnGuardarForm bg-customer" id="btnGenerarAltas" title="Generar Activo"><span class="fa fa-save"></span>&nbsp;Generar Activo</button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row m-2">
                                            <div class="form-group col-sm-12">
                                                <div class="table-responsive" style="height:340px;" id="divDetalleNEA">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <span id="spnNroItems" class="control-label">Items: 0</span>
                                            </div>
                                            <div class="col-md-7 text-right">
                                                <span id="spnTotal" class="control-label">Total: 0</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal custom-modal" tabindex="-1" role="dialog" aria-hidden="true" id="divPopupContainerForm1" style="overflow-y:auto;">
                            <div class="modal-dialog modal-xl bg-personalizado" id="divPopupWindowForm1" style="margin-top:1px;">
                                <div class="modal-content">
                                    <div id="divBarraForm1" class="modal-header bg-personalizado" style="cursor:move">
                                        <h5 class="modal-title">PECOSA</h5>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <input type="hidden" class="control-form Popup" id="txtIdRegistroPCS">
                                                <label class="control-label">Numero</label>
                                                <label class="control-lectura" id="lblNroPCS"></label>
                                            </div>
                                            <div class="col-sm-3">
                                                <label class="control-label">Fecha</label>
                                                <input type="date" id="ddtFechaPCS" class="control-form" />
                                            </div>
                                            <div class="col-sm-3">
                                                <label class="control-label">Tipo Operación</label>
                                                <label class="control-lectura" id="lblOperacionPCS"></label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <label class="control-label">Oficina</label>
                                                <label class="control-lectura" id="lblOficina"></label>
                                            </div>
                                            <div class="col-sm-3">
                                                <label class="control-label">Estado</label>
                                                <label class="control-lectura" id="lblEstado"></label>
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="control-label">Recepcionado por</label>
                                                <select class="SelectSearch control-form Reque Popup" id="cboRecepcion"></select>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label class="control-label">Justificación</label>
                                                <textarea class="control-lectura" disabled id="ttaJusticiacionPCS" maxlength="200" rows="2"></textarea>
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="control-label">&nbsp;</label>
                                                <button class="btnCancelarForm" id="btnCancelarForm1" title="Cancelar"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Cancelar</button>
                                                <button class="btnGuardarForm bg-customer" id="btnEmitirPCS" title="Emitir PECOSA"><span class="fa fa-save"></span>&nbsp;Grabar</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row m-2">
                                        <div class="form-group col-sm-12">
                                            <div class="table-responsive" style="height:360px;" id="divDetallePCS">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <span id="spnNroItemsPCS" class="control-label">Items: 0</span>
                                        </div>
                                        <div class="col-md-7 text-right">
                                            <span id="spnTotalPCS" class="control-label">Total: 0</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal custom-modal" tabindex="-1" role="dialog" aria-hidden="true" id="divPopupContainerItem" style="overflow-y:auto;">
                            <div class="modal-dialog bg-personalizado" id="divPopupWindowItem">
                                <div class="modal-content">
                                    <div id="divBarraItem" class="modal-header bg-personalizado" style="cursor:move;">
                                        <h5 class="modal-title">Reporte</h5>
                                        <button type="button" id="btnCerrarItem" class="close"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="form-group col-sm-4">
                                                <label class="control-label">Año</label>
                                                <input type="number" class="form-control" id="txtAnio" value="@ViewBag.Anio">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="almacenRadios" id="optIngresos" checked>
                                                <label class="form-check-label" for="optIngresos">
                                                    Parte diario de ingresos
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="almacenRadios" id="optSalidas">
                                                <label class="form-check-label" for="optSalidas">
                                                    Parte diario de salidas
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="almacenRadios" id="optPI">
                                                <label class="form-check-label" for="optPI">
                                                    Orden de Compra Pendiente Ingresar
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="almacenRadios" id="optEntradas">
                                                <label class="form-check-label" for="optEntradas">
                                                    Entradas al Almacén
                                                </label>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="form-group col-sm-4 text-left">
                                                <button class="btn btn-sm btn-danger" id="btnReportePdf" title="Generar Reporte PDF"><span class="fa fa-file-pdf-o"></span>&nbsp;PDF</button>
                                                <button class="btn btn-sm btn-success" id="btnReporteExcel" title="Generar Reporte EXCEL"><span class="fa fa-file-excel-o"></span>&nbsp;EXCEL</button>
                                            </div>
                                            <div class="col-sm-6">
                                                <span id="spnLoad" style="color: rgb(222, 30, 53); border-color: black; font-weight: bold; display: none;">
                                                    Procesando <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal custom-modal" tabindex="-1" role="dialog" aria-hidden="true" id="divPopupContainerPreview" style="overflow-y:auto;">
                            <div class="modal-dialog modal-xl bg-personalizado" id="divPopupWindowPreview" style="margin-top:1px">
                                <div class="modal-content">
                                    <div id="divBarraPreview" class="modal-header bg-personalizado" style="cursor:move">
                                        <button type="button" id="btnCerrarPreview" class="close"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
                                    </div>
                                    <div style="height:720px;overflow-y:auto;">
                                        <div id="tblTable" style="display:none"></div>
                                        <div class="pure-g" style="height: 100%; width:100%">
                                            <iframe id="pdf_preview" type="application/pdf" src="" width="100%" height="100%"></iframe>
                                            @*<div id="wrapper" class="pure-u-1 pure-u-md-4-5">
                                                    <object id="output" type="application/pdf"></object>
                                                </div>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="divReporte" style="overflow:hidden;width:auto;display:none">
                    <div style="width:100%;">
                        <h1 style="font-family: 'Arial Narrow', Arial, sans-serif; margin-bottom: 0px; text-align: center; ">NOTA DE ENTRADA A ALMACEN</h1>
                        <div style="width:100%;">
                            <div style="width: 25%; float: left;text-align:center">
                                <img src="~/Riztie/Images/user-bg.jpg" alt="IAFAS" width="150" height="180" />
                                <p style="font-family: 'Arial Narrow', Arial, sans-serif; margin-bottom: 0px; text-align: left;font-size:10px ">HEMOS RECIBIDO CONFORME LOS SIGUIENTES ARTICULOS</p>
                            </div>
                            <div style="width: 65%; float: left;">
                                <div style="width:100%;">
                                    <div style="width:20%; float: left;">
                                        <h5 style="font-family: 'Arial Narrow', Arial, sans-serif; margin-bottom: 0px; text-align: left;">DEPARTAMENTO : </h5>
                                        <h2></h2>
                                    </div>
                                    <div style="width:60%; float: left;border-bottom: 1px solid black; text-align: center;">
                                        <h5 style="font-family: 'Arial Narrow', Arial, sans-serif; margin-bottom: 0px; text-align: center;">OFICINA DE LOGISTICA - DISFOMAR</h5>
                                    </div>
                                    <div style="width:20%; float: left;">
                                        <h2 style="font-family: 'Arial Narrow', Arial, sans-serif; margin-bottom: 0px; text-align: right;" id="tdNroTitulo"></h2>
                                    </div>
                                </div>
                                <br />
                                <div style="width: 100%; margin-bottom: 1rem; background-color: transparent; height: 190px;font-size: 14px; ">
                                    <table cellpadding="0" width="830px" cellspacing="0" style="font-family: 'Arial Narrow', Arial, sans-serif; font-size: 12px; border: solid 1px #242828;">
                                        <thead>
                                            <tr cellpadding="0" width="1100px" cellspacing="0" style="font-family: 'Arial Narrow', Arial, sans-serif; font-size: 12px; border: 1px solid black">
                                                <th colspan="62" rowspan="1" style="color: black; text-align: center; font-weight: bold; white-space: pre-wrap; height:30px;">R E F E R E N C I A S</th>
                                            </tr>
                                            <tr style="color: black; text-align: center; font-weight: bold;">
                                                <th colspan="6" rowspan="2" style="border:1px solid black;white-space:pre-wrap; width:5px;">Identific. del Documento</th>
                                                <th colspan="6" rowspan="2" style="border:1px solid black;white-space:pre-wrap; width:5px;">NUMERO ENTRADA ALMACEN</th>
                                                <th colspan="6" rowspan="1" style="border:1px solid black;white-space:pre-wrap; width:5px;">FECHA</th>
                                                <th colspan="6" rowspan="2" style="border:1px solid black;white-space:pre-wrap; width:5px;">Código del Departamento</th>
                                                <th colspan="6" rowspan="2" style="border:1px solid black;white-space:pre-wrap; width:5px;">CÓDIGO DEL ALMACÉN</th>
                                                <th colspan="10" rowspan="2" style="border:1px solid black;white-space:pre-wrap; width:5px;">CÓDIGO DEL ENTIDAD</th>
                                                <th colspan="14" rowspan="2" style="border:1px solid black;white-space:pre-wrap; width:5px;">REFERENCIA DOCUMENTO</th>
                                                <th colspan="3" rowspan="2" style="border:1px solid black;white-space:pre-wrap; width:5px;">Código de Moneda</th>
                                                <th colspan="5" rowspan="2" style="border:1px solid black;white-space:pre-wrap; width:5px;">Código de Cuenta</th>
                                            </tr>
                                            <tr style="color: black; text-align: center; font-weight: bold;">
                                                <th colspan="2" style="border:1px solid black;white-space:pre-wrap; width:5px;">Dia</th>
                                                <th colspan="2" style="border:1px solid black;white-space:pre-wrap; width:5px;">Mes</th>
                                                <th colspan="2" style="border:1px solid black;white-space:pre-wrap; width:5px;">Año</th>
                                            </tr>

                                            <tr style="text-align: center; font-weight: bold; height: 30px; width: 10px;">
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-right: 1px solid black;"></th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;"></th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;"></th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;"></th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;"></th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;"></th>

                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;"></th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;"></th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;"></th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">1</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">1</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">1</th>

                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">1</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">1</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">1</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">1</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">1</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">1</th>

                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">1</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">2</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">2</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">2</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">2</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">2</th>

                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">2</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">2</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">2</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">2</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">2</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">3</th>

                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">3</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">3</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">3</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">3</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">3</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">3</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">3</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">3</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">3</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">4</th>

                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">4</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">4</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">4</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">4</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">4</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">4</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">4</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">4</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">4</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">5</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">5</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">5</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">5</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">5</th>

                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">5</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">5</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">5</th>

                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">5</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">5</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">6</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">6</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">6</th>

                                            </tr>
                                            <tr style="text-align: center; font-weight: bold; height: 30px; width: 10px;">
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">1</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">2</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">3</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">4</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">5</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">6</th>

                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">7</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">8</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">9</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">0</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">1</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">2</th>

                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">3</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">4</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">5</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">6</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">7</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">8</th>

                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">9</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">0</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">1</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">2</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">3</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">4</th>

                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">5</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">6</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">7</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">8</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">9</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">0</th>

                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">1</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">2</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">3</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">4</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">5</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">6</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">7</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">8</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">9</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">0</th>

                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">1</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">2</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">3</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">4</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">5</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">6</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">7</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">8</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">9</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">0</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">1</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">2</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">3</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">4</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">5</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">6</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">7</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">8</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">9</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">0</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">1</th>
                                                <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">2</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr style="color: black; text-align: center; font-weight: bold; height: 30px; width: 10px;">
                                                <td style="border:1px solid black;white-space:pre-wrap;width:50px;height:30px;" colspan="6"></td>
                                                <td style="border:1px solid black;white-space:pre-wrap;width:50px;height:30px;" colspan="6" id="tdNroNea"></td>
                                                <td style="border:1px solid black;white-space:pre-wrap;width:50px;height:30px;" colspan="2" id="tdDia"></td>
                                                <td style="border:1px solid black;white-space:pre-wrap;width:50px;height:30px;" colspan="2" id="tdMes"></td>
                                                <td style="border:1px solid black;white-space:pre-wrap;width:50px;height:30px;" colspan="2" id="tdAnio"></td>
                                                <td style="border:1px solid black;white-space:pre-wrap;width:50px;height:30px;" colspan="6"></td>
                                                <td style="border:1px solid black;white-space:pre-wrap;width:50px;height:30px;" colspan="6"></td>
                                                <td style="border:1px solid black;white-space:pre-wrap;width:50px;height:30px;" colspan="10"></td>
                                                <td style="border:1px solid black;white-space:pre-wrap;width:50px;height:30px;" colspan="14" id="tdOrden"></td>
                                                <td style="border:1px solid black;white-space:pre-wrap;width:50px;height:30px;" colspan="3" id="tdMoneda"></td>
                                                <td style="border:1px solid black;white-space:pre-wrap;width:50px;height:30px;" colspan="5"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div style="width:100%;">
                            <table cellpadding="0" width="100%" cellspacing="0" style="font-family:'Arial Narrow', Arial, sans-serif;font-size:10px">
                                <tr>
                                    <td style="height:325px;border:solid 1px black;vertical-align:top" colspan="2">
                                        <table cellpadding="0" width="100%" cellspacing="0" style="font-family:'Arial Narrow', Arial, sans-serif;font-size:12px">
                                            <thead>
                                                <tr>
                                                    <th style="border: 1px solid black;" colspan="2" rowspan="2">N° Ord.</th>
                                                    <th colspan="1" rowspan="2" style="white-space: pre-wrap; width: 3px; border: 1px solid black;">Tipo Cod.</th>
                                                    <th style="border: 1px solid black;" colspan="16" rowspan="2">CODIGO DE ARTICULO</th>
                                                    <th colspan="1" rowspan="4" style="white-space: pre-wrap; width: 7px; border: 1px solid black;">UNIDAD DE MEDIDA</th>
                                                    <th colspan="10" rowspan="2" style="white-space: pre-wrap; width: 7px; border: 1px solid black;">CANTIDAD RECIBIDAS</th>
                                                    <th colspan="1" rowspan="4" style="white-space: pre-wrap; width: 500px; border: 1px solid black;">DESCRIPCIÓN DEL ARTICULO</th>
                                                    <th colspan="1" rowspan="4" style="white-space: pre-wrap; width: 7px; border: 1px solid black;">CUENTA CONTABLE</th>
                                                    <th colspan="11" style="white-space: pre-wrap; width: 7px; border: 1px solid black;">VALORES</th>

                                                </tr>
                                                <tr>
                                                    <th colspan="10" style="white-space: pre-wrap; width: 5px; border: 1px solid black;">UNITARIO</th>
                                                    <th colspan="1" rowspan="3" style="white-space: pre-wrap; width: 5px; border: 1px solid black;">Total</th>
                                                </tr>
                                                <tr>
                                                    <th style="white-space: pre-wrap; width: 5px; border-left: 1px solid black; border-right: 1px solid black; ">6</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; ">6</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; ">6</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; ">6</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; ">6</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; ">6</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; ">6</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; ">7</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; ">7</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; ">7</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; ">7</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; ">7</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; ">7</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; ">7</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; ">7</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; ">7</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; ">7</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; ">8</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; ">8</th>


                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">8</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">8</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">8</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">8</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">8</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">8</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">8</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">8</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">9</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">9</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">9</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">9</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">9</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">9</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">9</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">9</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">9</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">9</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">10</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black;">10</th>

                                                </tr>
                                                <tr>
                                                    <th style="white-space: pre-wrap; width: 5px; border-left: 1px solid black; border-right: 1px solid black; border-bottom: 1px solid black; ">3</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">4</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">5</th>

                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">6</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">7</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">8</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">9</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">0</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">1</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">2</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">3</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">4</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">5</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">6</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">7</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">8</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">9</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">0</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">1</th>

                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">2</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">3</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">4</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">5</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">6</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">7</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">8</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">9</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">0</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">1</th>

                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">2</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">3</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">4</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">5</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">6</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">7</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">8</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">9</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">0</th>
                                                    <th style="white-space: pre-wrap; width: 5px; border-right: 1px solid black; border-bottom: 1px solid black;">1</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tblDetalleNEA"></tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="line-height:25px; font-family: 'Arial Narrow', Arial, sans-serif; font-size: 14px;border: 1px solid black; text-align: right; color: #080707; font-weight: bold;" id="tdTotalNEA"></td>
                                </tr>
                            </table>
                        </div>
                        <div style="line-height: 28px; font-family: 'Arial Narrow', Arial, sans-serif; font-size: 12px; width: 100%; float: left; border-left: 1px solid black; border-right: 1px solid black; border-top: 1px solid black; border-bottom: 1px solid black; ">
                            <div style="width: 100%; float: left;">
                                <div style="width: 60%;float: left;">
                                    <label>PRESUPUESTO:</label>
                                    <label id="lblPresupuesto"></label>
                                </div>
                                <div style="width: 20%; float: left;">
                                    <label>GUIA REM. :</label>
                                    <label id="lblGuiaRemi"></label>
                                </div>
                                <div style="width: 20%; float: left;">
                                    <label>FECHA. :</label>
                                    <label id="lblFechaGuiaRemi"></label>
                                </div>
                            </div>
                            <div style="width: 100%; float: left;">
                                <div style="width: 30%;float: left;">
                                    <label>OBSERVACIONES :</label>
                                    <label>ORDEN DE COMPRA :</label>
                                    <label id="lblNroOrden"></label>
                                </div>
                                <div style="width: 10%; float: left;">
                                    <label>FECHA :</label>
                                    <label id="lblFechaOC"></label>
                                </div>
                                <div style="width: 25%; float: left;">
                                    <label id="lblJustificacion"></label>
                                </div>
                                <div style="width: 35%; float: left;">
                                    <label>PROVEEDOR :</label>
                                    <label id="lblProveedorNEA"></label>
                                </div>
                            </div>
                        </div>
                        <div style="font-family: 'Arial Narrow', Arial, sans-serif; font-size: 12px; width: 100%; float: left;">
                            <div style="width: 35%; height: 100Px; float: left; border-left: 1px solid black; border-right: 1px solid black; border-top: 1px solid black; border-bottom: 1px solid black; text-align: center;">
                                <br />
                                <label>JEFE DE ALMACEN</label><br />
                                <label id="lblNombreJefeAlmacen"></label><br />
                                <label id="lblDNIAlmacen"></label><br />
                                @*<label>---------------------------------------------</label>*@
                            </div>
                            <div style="width: 35%; height: 100Px; float: left; border-left: 1px solid black; border-right: 1px solid black; border-top: 1px solid black; border-bottom: 1px solid black; text-align: center;">
                                <br />
                                <label>JEFE DE LA OFICINA DE LOGÍSTICA</label><br />
                                <label id="lblGradoJeLog"></label><br />
                                <label id="lblNombreJelog"></label><br />
                                <label id="lblDNIJelog"></label><br />
                                @*<label>---------------------------------------------</label>*@
                            </div>
                            <div style="width: 28%;height:100Px; float: left;border-left: 1px solid black; border-right: 1px solid black; border-top: 1px solid black; border-bottom: 1px solid black;">
                                <h6 style="text-align:left;margin-left:10px;">DISTRIBUCIÓN;</h6>
                                <div style="width: 30%; float: left;">
                                    <label>Original</label><br />
                                    <label>1. Copia :</label><br />
                                    <label>2. Copia :</label><br />
                                </div>
                                <div style="width: 50%;float: left;">
                                    <label>Almacén</label><br />
                                    <label>Kardex</label><br />
                                    <label>Interesado</label><br />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="divReportePECOSA" style="overflow:hidden;width:auto;display:none">
                    <div style="width:100%;">

                        <div style="width: 100%; font-family: 'Arial Narrow', Arial, sans-serif; margin-bottom: 0px; text-align: left;">
                            <div style="width: 35%; float: left;">
                                <img src="~/Riztie/Images/user-bg.jpg" alt="IAFAS" width="220" height="185" />
                                <div>
                                    <label style="margin-bottom: 0px; font-weight: bold; ">SOLICITANTE :</label>
                                    <label style="margin-bottom: 0px;" id="lblOficinaPcs"></label>
                                </div>
                                <div>
                                    <label style="margin-bottom: 0px; font-weight: bold; ">REFERENCIA :</label>
                                    <label style="margin-bottom: 0px;" id="lblJustificacionPcs"></label>
                                </div>
                            </div>
                            <div style="width: 40%; float: left;font-family: 'Arial Narrow', Arial, sans-serif; text-align: left;">
                                <h2 style="font-family: 'Arial Narrow', Arial, sans-serif; margin-bottom: 0px; text-align: left; height:70px;">PEDIDO - COMPROBANTE DE SALIDA</h2>
                            </div>
                            <div style="width: 25%; float: left;">
                                <h2 style="font-family: 'Arial Narrow', Arial, sans-serif; margin-bottom: 0px; text-align: center; height: 70px;" id="lblNroPecosa"></h2>
                                <div>
                                    <h4 style="font-family: 'Arial Narrow', Arial, sans-serif;height:85px; margin-bottom: 0px; text-align: center;">OFICINA DE LOGISTICA <br />ALMACEN GENERAL</h4>
                                    <div style="width:100%; float: left;">
                                        <div style="width: 25%; float: left; border-left: 1px solid black; border-right: 1px solid black; border-top: 1px solid black; border-bottom: 1px solid black; text-align: center;">
                                            <label style="margin-bottom: 0px; font-weight: bold;">DIA</label>
                                        </div>
                                        <div style="width: 25%; float: left; border-left: 1px solid black; border-right: 1px solid black; border-top: 1px solid black; border-bottom: 1px solid black; text-align: center;">
                                            <label style="margin-bottom: 0px; font-weight: bold; ">MES</label>
                                        </div>
                                        <div style="width: 30%;float: left;border-left: 1px solid black; border-right: 1px solid black; border-top: 1px solid black; border-bottom: 1px solid black; text-align: center;">
                                            <label style="margin-bottom: 0px; font-weight: bold; ">AÑO</label>
                                        </div>
                                    </div>
                                    <div style="width:100%; float: left;">
                                        <div style="width: 25%; float: left; border-left: 1px solid black; border-right: 1px solid black; border-top: 1px solid black; border-bottom: 1px solid black; text-align: center;">
                                            <label style="margin-bottom: 0px; font-weight: bold; " id="lblDia"></label>
                                        </div>
                                        <div style="width: 25%; float: left; border-left: 1px solid black; border-right: 1px solid black; border-top: 1px solid black; border-bottom: 1px solid black; text-align: center;">
                                            <label style="margin-bottom: 0px; font-weight: bold; " id="lblMes"></label>
                                        </div>
                                        <div style="width: 30%;float: left;border-left: 1px solid black; border-right: 1px solid black; border-top: 1px solid black; border-bottom: 1px solid black; text-align: center;">
                                            <label style="margin-bottom: 0px; font-weight: bold; " id="lblAnio"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div style="width: 100%; font-family: 'Arial Narrow', Arial, sans-serif; margin-bottom: 0px; text-align: left;">
                            <div style="width: 100%; float: left;font-family: 'Arial Narrow', Arial, sans-serif; text-align: left;">
                                <table cellpadding="0" width="100%" cellspacing="0" style="font-family:'Arial Narrow', Arial, sans-serif;font-size:10px">
                                    <tr>
                                        <td style="height:355px;border:solid 1px black;vertical-align:top" colspan="2">
                                            <table cellpadding="0" width="1100px" cellspacing="0" style="font-family: 'Arial Narrow', Arial, sans-serif; font-size: 12px;">
                                                <thead>

                                                    <tr cellpadding="0" width="1100px" cellspacing="0" style="font-family: 'Arial Narrow', Arial, sans-serif; font-size: 12px; border: 1px solid black;text-align:center;font-weight: bold;">
                                                        <th colspan="1" rowspan="2" style="font-weight: bold;width: 5px;border:1px solid black;white-space:pre-wrap; ">ITEM</th>
                                                        <th colspan="1" rowspan="2" style="font-weight: bold;width: 20px;border:1px solid black;white-space:pre-wrap;">CÓDIGO DEL ARTICULO</th>
                                                        <th colspan="1" rowspan="2" style="font-weight: bold;width:380px;border:1px solid black;white-space:pre-wrap;">D E S C R I P C I Ó N    D E L   A R T I C U L O</th>
                                                        <th colspan="1" rowspan="2" style="font-weight: bold;width: 20px;border:1px solid black;white-space:pre-wrap;">CUENTA CONTABLE</th>
                                                        <th colspan="1" rowspan="2" style="font-weight: bold;width: 20px;border:1px solid black;white-space:pre-wrap;">UNIDAD MEDIDA</th>
                                                        <th colspan="1" rowspan="2" style="font-weight: bold;width: 20px;border:1px solid black;white-space:pre-wrap;">CANTIDAD</th>
                                                        <th colspan="2" rowspan="1" style="font-weight: bold;width: 30px;border:1px solid black;white-space:pre-wrap;">VALORES</th>
                                                    </tr>
                                                    <tr style="color: black; text-align: center; font-weight: bold;">
                                                        <th style="color: black;border:1px solid black;white-space:pre-wrap; width:70px;">PRECIO UNIT.</th>
                                                        <th style="color: black;border:1px solid black;white-space:pre-wrap; width:70px;">TOTAL</th>
                                                    </tr>

                                                </thead>
                                                <tbody id="tblDetallePecosa"></tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="line-height:25px; font-family: 'Arial Narrow', Arial, sans-serif; font-size: 14px;border: 1px solid black; text-align: right; color: #080707; font-weight: bold;" id="tdTotalPecosa"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div style="width: 100%; font-family: 'Arial Narrow', Arial, sans-serif; margin-bottom: 0px; text-align: left;">
                        <div style="width: 100%; float: left;font-family: 'Arial Narrow', Arial, sans-serif; text-align: left;">
                            <table cellpadding="0" width="1100px" cellspacing="0" style="font-family: 'Arial Narrow', Arial, sans-serif; font-size: 12px; border: solid 1px #242828;">
                                <thead>
                                    <tr cellpadding="0" cellspacing="0" style="font-family: 'Arial Narrow', Arial, sans-serif; font-size: 12px; border: 1px solid black;text-align:center;font-weight: bold;height:20px;">
                                        <th colspan="2" rowspan="2" style="font-weight: bold;width: 100px;border:1px solid black;white-space:pre-wrap; ">AUTORIZACIÓN DE ENTREGA</th>
                                        <th colspan="1" rowspan="2" style="font-weight: bold;width: 60px;border:1px solid black;white-space:pre-wrap;">ENTREGE CONFORME</th>
                                        <th colspan="1" rowspan="2" style="font-weight: bold;width:60px;border:1px solid black;white-space:pre-wrap;">RECIBI CONFORME</th>
                                        <th colspan="2" rowspan="1" style="font-weight: bold;width: 40px;border:1px solid black;white-space:pre-wrap;">FECHA</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="color: black; text-align: center; font-weight: bold; height: 20px;">
                                        <td rowspan="3" style="border:1px solid black;width: 100px;">
                                            <label id="lblGradoJeLogPcs"></label><br />
                                            <label id="lblNombreJelogPcs"></label><br />
                                            <label id="lblDNIJelogPcs"></label><br />
                                            JEFE LOGISTICA
                                        </td>
                                        <td rowspan="3" style="border:1px solid black;width: 100px;">
                                            <label id="lblGradoJefeAlmacenPcs"></label><br />
                                            <label id="lblNombreJefeAlmacenPcs"></label><br />
                                            <label id="lblDNIAlmacenPcs"></label><br />
                                            <label>JEFE DE ALMACEN</label><br />
                                        </td>
                                        <td rowspan="3" style="border: 1px solid black; width: 100px;">
                                            <label id="lblGradoEntregadoPcs"></label><br />
                                            <label id="lblNombreEntregadoPcs"></label><br />
                                            <label id="lblDNIEntregadoPcs"></label><br />
                                            ENTREGADO POR
                                        </td>
                                        <td rowspan="3" style="border: 1px solid black; width: 60px;">
                                            <label id="lblGradoRecibidoPcs"></label><br />
                                            <label id="lblNombreRecibidoPcs"></label><br />
                                            <label id="lblDNIRecibidoPcs"></label><br />
                                            RECIBIDO POR
                                        </td>
                                        <td style="border: 1px solid black;width: 10px;" colspan="1">
                                            DIA
                                        </td>
                                        <td style="border: 1px solid black;width: 10px;" colspan="1">
                                            15
                                        </td>
                                    </tr>
                                    <tr style="color: black; text-align: center; font-weight: bold; height: 30px;">
                                        <td style="border: 1px solid black;width: 10px;" colspan="1">
                                            MES
                                        </td>
                                        <td style="border: 1px solid black;width: 10px;" colspan="1">
                                            09
                                        </td>
                                    </tr>
                                    <tr style="color: black; text-align: center; font-weight: bold; height: 30px;">
                                        <td style="border: 1px solid black;width: 10px;" colspan="1">
                                            AÑO
                                        </td>
                                        <td style="border: 1px solid black;width: 10px;" colspan="1">
                                            2022
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="styleSelector">
        </div>
        <div id="divTable" style="display:none"></div>
    </div>
</div>

<iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
<script src="~/Riztie/Js/App/AppInventario.js"></script>


