
@{
    ViewBag.Title = "PAC";
    Layout = "~/Views/_LayoutPage.cshtml";
}


<style>
    .tbFilas {
        background-color: #02B29D;
        color: ghostwhite;
        text-align: center;
        font-weight: bold;
    }
</style>

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="card">
                <div class="card-header bg-primary">
                    <h3><i class="fa fa-industry" aria-hidden="true"></i>PLAN ANUAL DE CONTRATACIONES - PAC</h3>
                </div>
                <div class="card-block">
                    <div class="form-row">
                        <div class="form-group col-sm-3">
                            <label class="control-label">Año Fiscal</label>
                            <input type="number" id="txtAnioFiscal" class="control-form" value="@ViewBag.Anio">
                        </div>
                        <div class="form-group col-md-5">
                            <button class="input-group-inverse btn btn-inverse" id="btnConsultarPac" data-toggle="tooltip" data-placement="bottom" title="Consultar"><i class="fa fa-search fa-lg" aria-hidden="true"></i></button>
                            <button class="input-group-inverse btn btn-primary" id="btnNuevo" data-toggle="tooltip" data-placement="bottom" title="Nuevo"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <div class="table-responsive" id="divLista"></div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="modal custom-modal" tabindex="-1" role="dialog" aria-hidden="true" id="divPopupContainer" style="overflow-y:auto;">
                            <div class="modal-dialog modal-xl bg-personalizado" id="divPopupWindow" style="margin-top:30px;">
                                <div class="modal-content">
                                    <div id="divBarra" class="modal-header bg-personalizado" style="cursor:move">
                                        <h5 class="modal-title" id="tituloModal">Nuevo Registro</h5>
                                    </div>
                                    <div class="modal-body">
                                        <fieldset class="fieldset">
                                            <div class="row">
                                                <div class="form-group col-sm-4">
                                                    <input type="hidden" class="control-form Popup" id="txtIdRegistro">
                                                    <label class="control-label">Entidad</label>
                                                    <select id="cboEntidadPAC" class="control-form Reque Popup"></select>
                                                </div>
                                                <div class="form-group col-sm-2">
                                                    <label class="control-label">Año</label>
                                                    <input type="number" autocomplete="off" class="control-form Reque Popup" id="txtAnioPAC" value="@ViewBag.Anio">
                                                </div>
                                                <div class="form-group col-sm-2">
                                                    <label class="control-label">Versión</label>
                                                    <input type="number" class="control-form Reque Popup" id="txtVersion">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-sm-4">
                                                    <label class="control-label">Instrumento de aprobación</label>
                                                    <input type="text" autocomplete="off" class="control-form Reque Popup" id="txtAprobacion">
                                                </div>
                                                <div class="form-group col-sm-4">
                                                    <label class="control-label">Estado</label>
                                                    <select id="cboEstado" class="control-lectura Reque Popup"></select>
                                                </div>
                                            </div>
                                        </fieldset>

                                    </div>
                                    <div class="modal-footer">
                                        <button id="btnCancelar" class="btnCancelarForm" title="Cancelar"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Cancelar</button>
                                        <button id="btnGuardar" class="btnGuardarForm bg-customer" title="Guardar datos"><span class="fa fa-save"></span>&nbsp;Grabar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="modal custom-modal" tabindex="-1" role="dialog" aria-hidden="true" id="divPopupContainerForm1" style="overflow-y:auto;">
                            <div class="modal-dialog modal-xl bg-personalizado" id="divPopupWindowForm1" style="margin-top:30px;">
                                <div class="modal-content">
                                    <div id="divBarraForm1" class="modal-header bg-personalizado" style="cursor:move">
                                        <h5 class="modal-title" id="tituloModal">Registro Proceso</h5>
                                    </div>
                                    <div class="modal-body">
                                        <fieldset class="fieldset">
                                            @*<div class="row">
                                                    <div class="form-group col-sm-4">
                                                        <input type="hidden" class="control-form Popup" id="txtIdRegistro">
                                                        <label class="control-label">Entidad</label>
                                                        <select id="cboEntidadPAC" class="control-form Popup"></select>
                                                    </div>
                                                    <div class="form-group col-sm-2">
                                                        <label class="control-label">Año</label>
                                                        <input type="number" autocomplete="off" class="control-form Popup" id="txtAnioPAC" value="@ViewBag.Anio">
                                                    </div>
                                                    <div class="form-group col-sm-2">
                                                        <label class="control-label">Versión</label>
                                                        <input type="number" class="control-form" id="txtVersion">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-sm-4">
                                                        <label class="control-label">Instrumento de aprobación</label>
                                                        <input type="text" autocomplete="off" class="control-form Popup" id="txtAprobacion">
                                                    </div>
                                                    <div class="form-group col-sm-4">
                                                        <label class="control-label">Estado</label>
                                                        <select id="cboEstado" class="control-lectura Popup"></select>
                                                    </div>
                                                </div>
                                                <hr style="margin-top: 5px;margin-bottom: 10px;">*@

                                            <div class="row">
                                                <div class="form-group col-sm-4">
                                                    <input type="hidden" class="control-form RequeProc Popuproceso" id="txtIdPac">
                                                    <input type="hidden" class="control-form Popuproceso" id="txtIdPacProceso">
                                                    <label class="control-label">Tipo Item</label>
                                                    <select id="cboTipoItem" class="control-form RequeProc Popuproceso"></select>
                                                </div>
                                                <div class="form-group col-sm-4">
                                                    <label class="control-label">Tipo Compra o Selección</label>
                                                    <select id="cboTipoCompra" class="control-form RequeProc Popuproceso"></select>
                                                </div>
                                                <div class="form-group col-sm-4">
                                                    <label class="control-label">Entidad Convocante de la Compra C.</label>
                                                    <input type="text" class="control-form RequeProc Popuproceso" id="txtEntidadConv" autocomplete="off">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-sm-4">
                                                    <label class="control-label">Tipo</label>
                                                    <select id="cboTipo" class="control-form RequeProc Popuproceso"></select>
                                                </div>
                                                <div class="form-group col-sm-4">
                                                    <label class="control-label">Tipo de Proceso</label>
                                                    <select id="cboTipoProceso" class="control-form RequeProc Popuproceso"></select>
                                                </div>
                                                <div class="form-group col-sm-4">
                                                    <label class="control-label">Objeto de Contratación</label>
                                                    <select id="cboObjetoContratacion" class="control-form RequeProc Popuproceso"></select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-sm-2">
                                                    <label class="control-label">Antecedentes</label>
                                                    <select id="cboAntecedentes" class="control-form RequeProc Popuproceso"></select>
                                                </div>
                                                <div class="form-group col-sm-5">
                                                    <label class="control-label">Descripción del Antecedente</label>
                                                    <textarea class="form-control Popuproceso" rows="2" id="txtComentarioAntecedente" readonly></textarea>
                                                </div>
                                                <div class="form-group col-sm-5">
                                                    <label class="control-label">Descripción Tipo Servicio</label>
                                                    <textarea class="form-control RequeProc Popuproceso" rows="2" id="txtDescripcionServicio"></textarea>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-sm-4">
                                                    <label class="control-label">Fuente Financiamiento</label>
                                                    <select id="cboFuenteFto" class="control-form RequeProc Popuproceso"></select>
                                                </div>
                                                <div class="form-group col-sm-4">
                                                    <label class="control-label">Oficina</label>
                                                    <select id="cboOficinaProceso" class="control-form RequeProc Popuproceso"></select>
                                                </div>
                                                <div class="form-group col-sm-4">
                                                    <label class="control-label">Fecha Prevista</label>
                                                    <select id="cboFechaPrevista" class="control-form RequeProc Popuproceso"></select>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group col-sm-4">
                                                    <label class="control-label">Departamento</label>
                                                    <select id="cboDepartamento" class="SelectSearch control-form RequeProc Popuproceso"></select>
                                                </div>
                                                <div class="form-group col-sm-4">
                                                    <label class="control-label">Provincia</label>
                                                    <select id="cboProvincia" class="SelectSearch control-form RequeProc Popuproceso"></select>
                                                </div>
                                                <div class="form-group col-sm-4">
                                                    <label class="control-label">Distrito</label>
                                                    <select id="cboDistrito" class="SelectSearch control-form  RequeProc Popuproceso"></select>
                                                </div>
                                            </div>
                                            <div class="row">

                                                <div class="form-group col-sm-2">
                                                    <label class="control-label">Moneda</label>
                                                    <select id="cboTipoMoneda" class="control-form RequeProc Popuproceso"></select>
                                                </div>
                                                <div class="form-group col-sm-2">
                                                    <label class="control-label">Tip.Cambio</label>
                                                    <input type="number" class="control-form RequeProc Popuproceso" id="txtTipoCambio">
                                                </div>
                                                <div class="form-group col-sm-7">
                                                    <label class="control-label">Observaciones</label>
                                                    <textarea class="form-control Popuproceso" rows="2" id="txtObservaciones" name="comentarios"></textarea>
                                                </div>
                                                <div class="form-group col-sm-1 text-center">
                                                    <label class="control-label">&nbsp;&nbsp;</label>
                                                    <button class="btn btn-out waves-effect waves-light btn-info btn-square" id="btnMostrarItems"><i class="fa fa-search-plus" aria-hidden="true"></i></button>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group col-sm-12">
                                                    <div class="table-responsive" style="height:315px;">
                                                        <table class="grilla bordered">
                                                            <thead>
                                                                <tr class="FilaHead">
                                                                    <th rowspan="2" style="white-space:pre-wrap;width:50px;">Item</th>
                                                                    <th rowspan="2" style="white-space:pre-wrap;width:500px;">Descripción Catalogo</th>
                                                                    <th rowspan="2" style="white-space:pre-wrap;width:80px;">Unidad Medida</th>
                                                                    <th colspan="2">Valor Estimado</th>
                                                                    <th rowspan="2" style="white-space:pre-wrap;width:10px;"></th>
                                                                </tr>
                                                                <tr class="FilaHead">
                                                                    <th style="white-space:pre-wrap; width:90px;">Cantidad</th>
                                                                    <th style="white-space:pre-wrap; width:70px;">Monto</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="tbDetalleItemPac">
                                                                @*<tr>
                                                                        <td style="white-space:pre-wrap;width:50px;" colspan="1">1</td>
                                                                        <td style="white-space:pre-wrap;width:50px;" colspan="1">COMPUTADORA </td>
                                                                        <td style="white-space:pre-wrap;width:50px;" colspan="1">UNIDAD</td>
                                                                        <td style="white-space:pre-wrap;width:50px;" colspan="1">100</td>
                                                                        <td style="white-space:pre-wrap;width:50px;" colspan="1">PEN</td>
                                                                        <td style="white-space:pre-wrap;width:50px;" colspan="1">200</td>
                                                                        <td style="white-space:pre-wrap;width:50px;" colspan="1">E</td>
                                                                    </tr>*@
                                                            </tbody>
                                                            <tbody id="tbBodyDetalleItemPac">
                                                                @*<tr>
                                                                        <td colspan="3" class="text-right">TOTAL</td>
                                                                        <td > <label>2500</label></td>
                                                                        <td colspan="2"> <label>2800</label></td>
                                                                    </tr>*@
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>

                                        </fieldset>

                                    </div>
                                    <div class="modal-footer">
                                        <button id="btnCancelarForm1" class="btnCancelarForm" title="Cancelar"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Cancelar</button>
                                        <button id="btnGuardarProceso" class="btnGuardarForm bg-customer" title="Guardar datos"><span class="fa fa-save"></span>&nbsp;Grabar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="form-row">
                        <div class="modal custom-modal" tabindex="-1" role="dialog" aria-hidden="true" id="divPopupContainerForm2" style="overflow-y:auto;">
                            <div class="modal-dialog modal-lg bg-personalizado" id="divPopupWindowForm2" style="margin-top:30px;">
                                <div class="modal-content">
                                    <div id="divBarraForm2" class="modal-header bg-personalizado" style="cursor:move">
                                        <h5 class="modal-title" id="tituloModal">Item</h5>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="form-group col-sm-12">
                                                <label class="control-label">Catálogo de Items</label>
                                                <select id="cboCatalogoItem" class="SelectSearch control-form Requeitems Popup"></select>
                                            </div>
                                        </div>

                                        <div class="row">

                                            <div class="form-group col-sm-6">
                                                <label class="control-label">Unidad de Medida</label>
                                                <select id="cboUnidadMedida" class="control-form Requeitems Popup"></select>
                                            </div>

                                            <div class="form-group col-sm-3">
                                                <label class="control-label">Cantidad</label>
                                                <input type="number" class="control-form Requeitems Popup" id="txtCantidad">
                                            </div>

                                            <div class="form-group col-sm-3">
                                                <label class="control-label">Valor Estimado</label>
                                                <input type="number" class="control-form Requeitems Popup" id="txtValorEstimado">
                                            </div>
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button id="btnCancelarForm2" class="btnCancelarForm" title="Cancelar"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Cancelar</button>
                                        <button class="btnGuardarForm bg-customer" id="btnAgregarPacItems" title="btn btn-success"><span class="fa fa-hand-o-left"></span>&nbsp;Agregar Items</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
<script src="~/Riztie/Js/App/AppLicitacion.js"></script>

