
@{
    ViewBag.Title = "Prosel";
    Layout = "~/Views/_LayoutPage.cshtml";
}
<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="card">
                <div class="card-header bg-primary">
                    <h3><i class="fa fa-users" aria-hidden="true"></i> Procesos de Selección</h3>
                </div>
                <div class="card-block">
                    <div class="form-row">
                        <div class="form-group col-sm-3">
                            <label class="control-label">Año Fiscal</label>
                            <input type="number" id="txtAnioFiscal" class="control-form" value="@ViewBag.Anio">
                        </div>
                        <div class="form-group col-md-5 m-2">
                            <button class="input-group-inverse btn btn-inverse" id="btnConsultar" data-toggle="tooltip" data-placement="bottom" title="Consultar"><i class="fa fa-search fa-lg" aria-hidden="true"></i></button>
                            <button class="input-group-inverse btn btn-primary" id="btnNuevo" data-toggle="tooltip" data-placement="bottom" title="Nuevo"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <div class="table-responsive" id="divLista"></div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="modal custom-modal" tabindex="-1" role="dialog" aria-hidden="true" id="divPopupContainer" style="overflow-y:auto;">
                            <div class="modal-dialog modal-xl bg-personalizado" id="divPopupWindow" style="margin-top:10px;">
                                <div class="modal-content">
                                    <div id="divBarra" class="modal-header bg-personalizado" style="cursor:move">
                                        <h5 class="modal-title" id="tituloModal">Nuevo Registro</h5>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="form-group col-sm-2">
                                                <input type="hidden" class="control-form Popup" id="txtIdRegistro">
                                                <label class="control-label">Año Fiscal</label>
                                                <input type="number" id="txtAnioFiscalModal" class="control-form Popup" value="@ViewBag.Anio">
                                            </div>
                                            <div class="form-group col-sm-3">
                                                <label class="control-label">Solicitud Compra</label>
                                                <select id="cboSolicitudCompra" class="control-form Popup"></select>
                                            </div>
                                            <div class="form-group col-sm-3">
                                                <label class="control-label">Número del Proceso</label>
                                                <input type="text" id="txtNumeroProceso" class="control-form Reque Popup" autocomplete="off" />
                                            </div>
                                            <div class="form-group col-sm-2">
                                                <label class="control-label">Fecha Proceso</label>
                                                <input type="date" id="txtFechaEmision" class="control-form Reque Popup" />
                                            </div>
                                            <div class="form-group col-sm-2">
                                                <label class="control-label">Estado</label>
                                                <select id="cboEstado" class="control-lectura Reque Popup"></select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-sm-4">
                                                <label class="control-label">Tipo de Contratación</label>
                                                <select id="cboTipoItem" class="control-form Reque Popup"></select>
                                            </div>
                                            <div class="form-group col-sm-5">
                                                <label class="control-label">Objeto del Proceso</label>
                                                <input type="text" id="txtObjetoProceso" class="control-form Reque Popup" autocomplete="off" />
                                            </div>
                                            <div class="form-group col-sm-3">
                                                <label class="control-label">Valor referencial</label>
                                                <input type="number" step="any" id="txtValorreferencial" class="control-form Reque Popup" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-sm-6">
                                                <label class="control-label">Procedimiento</label>
                                                <select id="cboProcedimiento" class="control-form Reque Popup"></select>
                                            </div>
                                            <div class="form-group col-sm-5">
                                                <label class="control-label">Comite</label>
                                                <select id="cboComite" class="control-form Reque Popup"></select>
                                            </div>
                                            <div class="form-group col-sm-1" style="padding-top: 15px;margin-bottom: 5px;">

                                                <button class="input-group-inverse btn btn-primary btn-md" id="btnVizualizarComite" data-toggle="tooltip" data-placement="bottom" title="Ver Comite" onclick="vizualizarComite()">

                                                    <i class="fa fa-user fa-lg" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <!-- tab no exceder 100 -->
                                            <div class="form-group col-sm-4">
                                                <label class="control-label">Coeficiente Eval. Técnica</label>
                                                <input type="number" step="any" id="txtEvalTecnica" class="control-form Reque Popup" />
                                            </div>
                                            <div class="form-group col-sm-4">
                                                <label class="control-label">Coeficiente Eval. Económica</label>
                                                <input type="number" step="any" id="txtEvalEconomica" class="control-form Reque Popup" onkeyup="puntajeEconomica()" />
                                            </div>
                                            <!-- tab header start -->
                                            <div class="form-group col-sm-4">
                                                <label class="control-label">Puntaje Min. Eval. Técnica</label>
                                                <input type="number" step="any" id="txtEvalMinTecnica" class="control-form Reque Popup" />
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <!-- tab header start -->
                                                <div class="tab-header card">
                                                    <ul class="nav nav-tabs md-tabs tab-timeline" role="tablist" id="mytab">
                                                        <li class="nav-item">
                                                            <a id="tabCalendario" class="nav-link active" data-toggle="tab" href="#calendario" role="tab">Calendario</a>
                                                            <div class="slide"></div>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a id="tabTecEconomica" class="nav-link" data-toggle="tab" href="#factorTecnicoEconomico" role="tab">Factores Evaluación Técnica - Económica</a>
                                                            <div class="slide"></div>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a id="tabParticipante" class="nav-link" data-toggle="tab" href="#participante" role="tab">Participantes</a>
                                                            <div class="slide"></div>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a id="tabEvaluacionTec" class="nav-link" data-toggle="tab" href="#evaltecnica" role="tab">Evaluación Técnica</a>
                                                            <div class="slide"></div>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a id="tabEvaluacionEco" class="nav-link" data-toggle="tab" href="#evaleconomica" role="tab">Evaluación Económica</a>
                                                            <div class="slide"></div>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a id="tabBuenaPro" class="nav-link" data-toggle="tab" href="#buenapro" role="tab">Buena Pro</a>
                                                            <div class="slide"></div>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <!-- tab header end -->
                                                <!-- tab content start -->
                                                <div id="tabProsel" class="tab-content" style="display:none">
                                                    <!-- tab panel personal start -->
                                                    <!-- START TAB CALENDARIO -->
                                                    <div class="tab-pane active" id="calendario" role="tabpanel">
                                                        <div class="card">
                                                            <div class="card-block">
                                                                <div class="view-info">
                                                                    <div class="row">
                                                                        <div class="form-group col-sm-3">
                                                                            <input type="hidden" id="txtIdCal" class="control-form PopupCal">
                                                                            <label class="control-label">Número de Documento</label>
                                                                            <input type="text" id="txtNumeroDocCal" class="control-form RequeCalendar PopupCal" autocomplete="off">
                                                                        </div>
                                                                        <div class="form-group col-sm-3">
                                                                            <label class="control-label">Fecha Doc.</label>
                                                                            <input type="date" id="txtFechaEmisionCal" class="control-form RequeCalendar PopupCal" />
                                                                        </div>
                                                                        <div class="form-group col-sm-6">
                                                                            <label class="control-label">Glosa</label>
                                                                            <input type="text" id="txtGlosaCal" class="control-form RequeCalendar PopupCal" autocomplete="off"/>
                                                                        </div>
                                                                    </div>
                                                                    <hr />
                                                                    <div class="row">
                                                                        <div class="form-group col-sm-12">
                                                                            <div class="table-responsive" style="height:300px;">
                                                                                <table class='grilla bordered'>
                                                                                    <thead>
                                                                                        <tr class='FilaHead'>
                                                                                            <th rowspan="1" colspan="2" style="white-space:pre-wrap;width:500px;">Actividades del Proceso</th>
                                                                                            <th rowspan="1" style="white-space:pre-wrap;width:80px;">Fecha Inicio</th>
                                                                                            <th rowspan="1" style="white-space:pre-wrap;width:40px;">Fecha Fin</th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody id="tbDetalleProcesoCalen">
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="form-group col-sm-12">
                                                                        <button class="input-group-inverse btn btn-primary btn-sm float-right" id="btnCalendario" data-toggle="tooltip" data-placement="bottom" title="Siguiente" onclick="guardarCalendario()">
                                                                            <i class="fa fa-arrow-right fa-lg" aria-hidden="true"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- END  -->
                                                    <!-- START TAB FACTOR TECNICO Y ECONOMICO -->
                                                    <div class="tab-pane" id="factorTecnicoEconomico" role="tabpanel">
                                                        <div class="card">
                                                            <div class="card-block">
                                                                <div class="view-info">
                                                                    <div class="row">
                                                                        <div class="form-group col-sm-12">
                                                                            <div class="table-responsive" style="height:350px;">
                                                                                <table class='grilla bordered'>
                                                                                    <thead>
                                                                                        <tr class='FilaHead'>
                                                                                            <th rowspan="1" colspan="2" style="white-space:pre-wrap;width:500px;">Factores de Evaluación Técnica - Económica </th>

                                                                                            <th rowspan="2" style="white-space:pre-wrap;width:20px;">Puntaje Maximo</th>
                                                                                            <th rowspan="2" style="white-space:pre-wrap;width:20px;"></th>
                                                                                        </tr>
                                                                                        <tr class='FilaHead'>
                                                                                            <th rowspan="1" style="white-space:pre-wrap;width:40px;">Id</th>
                                                                                            <th rowspan="1" style="white-space:pre-wrap;width:500px;">Descripción de Factor</th>

                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody id="tbDetalleEvaluacionTecnica">
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-sm-12">
                                                                        <button class="input-group-inverse btn btn-primary btn-sm float-right" data-toggle="tooltip" data-placement="bottom" title="Siguiente" onclick="guardarTabEvaTecEconomico()">
                                                                            <i class="fa fa-arrow-right fa-lg" aria-hidden="true"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- END  -->
                                                    <!-- START TAB REGISTRO PARTICPANTE -->
                                                    <div class="tab-pane" id="participante" role="tabpanel">
                                                        <div class="card">
                                                            <div class="card-block">
                                                                <div class="view-info">
                                                                    <div class="row">
                                                                        <div class="form-group col-sm-2 text-right" style="padding-top: 10px;">
                                                                            <label class="control-label">Proveedor : </label>
                                                                        </div>
                                                                        <div class=" form-group col-sm-8">
                                                                            <select id="cboProveedorProsel" class="SelectSearch control-form "></select>
                                                                        </div>
                                                                        <div class="form-group col-sm-2">
                                                                            <button class="input-group-inverse btn btn-primary btn-md" data-toggle="tooltip" data-placement="bottom" title="Agregar Proveedor" onclick="tabAgregarRegistro()">
                                                                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="form-group col-sm-12">
                                                                            <div class="table-responsive" style="height:300px;">
                                                                                <table class='grilla bordered'>
                                                                                    <thead>
                                                                                        <tr class='FilaHead'>
                                                                                            <th rowspan="1" style="white-space:pre-wrap;width:40px;">#</th>
                                                                                            <th rowspan="1" style="white-space:pre-wrap;width:500px;">Proveedor</th>
                                                                                            <th rowspan="1" style="white-space:pre-wrap;width:40px;"></th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody id="tbDetalleProcesoRegistro">
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-sm-12">
                                                                        <button class="input-group-inverse btn btn-primary btn-sm float-right" id="btnRegistro" data-toggle="tooltip" data-placement="bottom" title="Siguiente" onclick="guardarTabRegistro()" style="margin-left: 15px;">
                                                                            <i class="fa fa-arrow-right fa-lg" aria-hidden="true"></i>
                                                                        </button>
                                                                        <button class="input-group-inverse btn btn-primary btn-sm float-right" id="btnCalendario" data-toggle="tooltip" data-placement="bottom" title="Siguiente" onclick="retornarTab()">
                                                                            <i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i>
                                                                        </button>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- END  -->
                                                    <!-- START TAB EVALUACION TECNICA PROVEEDOR -->
                                                    <div class="tab-pane" id="evaltecnica" role="tabpanel">
                                                        <div class="card">
                                                            <div class="card-block">
                                                                <div class="view-info">
                                                                    <input type="hidden" id="idEvaluacionTecnica" value="5" />
                                                                    <div class="row">
                                                                        <div class="form-group col-sm-6">
                                                                            <fieldset class="fieldset">
                                                                                <legend class="legend">Participantes</legend>
                                                                                <div class="table-responsive" style="height:250px;">
                                                                                    <table class='grilla bordered'>
                                                                                        <thead>
                                                                                            <tr class='FilaHead'>
                                                                                                <th rowspan="1" style="white-space:pre-wrap;width:40px;">#</th>
                                                                                                <th rowspan="1" style="white-space:pre-wrap;width:500px;">Proveedor</th>
                                                                                                <th rowspan="1" style="white-space:pre-wrap;width:40px;"></th>
                                                                                            </tr>
                                                                                        </thead>
                                                                                        <tbody id="tbDetalleEvaTecnica">
                                                                                        </tbody>
                                                                                    </table>
                                                                                </div>
                                                                            </fieldset>
                                                                        </div>
                                                                        <div class="form-group col-sm-6">
                                                                            <fieldset class="fieldset">
                                                                                <legend class="legend" id="idTextoEvaTec">Evaluación Técnica</legend>
                                                                                <div class="col-sm-12">
                                                                                    <div class="table-responsive" style="height:250px;">
                                                                                        <table class='grilla bordered'>
                                                                                            <thead>
                                                                                                <tr class='FilaHead'>
                                                                                                    <th rowspan="1" style="white-space:pre-wrap;width:40px;">Id</th>
                                                                                                    <th rowspan="1" style="white-space:pre-wrap;width:500px;">Descripción Factor</th>
                                                                                                    <th rowspan="1" style="white-space:pre-wrap;width:40px;">P.Max</th>
                                                                                                    <th rowspan="1" style="white-space:pre-wrap;width:40px;">Calificación</th>
                                                                                                </tr>
                                                                                            </thead>
                                                                                            <tbody id="tbDetalleEvaTecnicaLista">
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </div>
                                                                                </div>

                                                                            </fieldset>
                                                                        </div>
                                                                    </div>
                                                                    <input type="hidden" id="txtProveedorEvaTec" value="0" />

                                                                </div>
                                                                <br />
                                                                <div class="row">
                                                                    <div class="col-sm-12">
                                                                        <button class="input-group-inverse btn btn-primary btn-sm float-right" id="btnRegistro" data-toggle="tooltip" data-placement="bottom" title="Siguiente" onclick="guardarTabEvaTecnicoProveedor()" style="margin-left: 15px;">
                                                                            <i class="fa fa-arrow-right fa-lg" aria-hidden="true"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- END  -->
                                                    <!-- START TAB EVALUACION ECONOMICA PROVEEDOR -->
                                                    <div class="tab-pane" id="evaleconomica" role="tabpanel">
                                                        <div class="card">
                                                            <div class="card-block">
                                                                <div class="view-info">
                                                                    <input type="hidden" id="idEvaluacionEconomica" value="1" />
                                                                    <div class="row">
                                                                        <div class="form-group col-sm-6">
                                                                            <fieldset class="fieldset">
                                                                                <legend class="legend">Participantes</legend>
                                                                                <div class="table-responsive" style="height:250px;">
                                                                                    <table class='grilla bordered'>
                                                                                        <thead>
                                                                                            <tr class='FilaHead'>
                                                                                                <th rowspan="1" style="white-space:pre-wrap;width:40px;">#</th>
                                                                                                <th rowspan="1" style="white-space:pre-wrap;width:500px;">Proveedor</th>
                                                                                                <th rowspan="1" style="white-space:pre-wrap;width:40px;"></th>
                                                                                            </tr>
                                                                                        </thead>
                                                                                        <tbody id="tbDetalleEvaEconomica">
                                                                                        </tbody>
                                                                                    </table>
                                                                                </div>
                                                                            </fieldset>
                                                                        </div>
                                                                        <div class="form-group col-sm-6">
                                                                            <fieldset class="fieldset">
                                                                                <legend class="legend" id="idTextoEvaEco">Evaluación Económica</legend>
                                                                                <div class="col-sm-12">
                                                                                    <div class="table-responsive" style="height:250px;">
                                                                                        <table class='grilla bordered'>
                                                                                            <thead>
                                                                                                <tr class='FilaHead'>
                                                                                                    <th rowspan="1" style="white-space:pre-wrap;width:40px;">Id</th>
                                                                                                    <th rowspan="1" style="white-space:pre-wrap;width:500px;">Descripción Factor</th>
                                                                                                    <th rowspan="1" style="white-space:pre-wrap;width:40px;">P.Max</th>
                                                                                                    <th rowspan="1" style="white-space:pre-wrap;width:40px;">Calificación</th>
                                                                                                </tr>
                                                                                            </thead>
                                                                                            <tbody id="tbDetalleEvaEconoLista">
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </div>
                                                                                </div>

                                                                            </fieldset>
                                                                        </div>
                                                                    </div>
                                                                    <input type="hidden" id="txtProveedorEvaEcono" value="0" />
                                                                </div>
                                                                <br />
                                                                <div class="row">
                                                                    <div class="col-sm-12">
                                                                        <button class="input-group-inverse btn btn-primary btn-sm float-right" id="btnRegistro" data-toggle="tooltip" data-placement="bottom" title="Siguiente" onclick="guardarTabEvaEconomicaProveedor()" style="margin-left: 15px;">
                                                                            <i class="fa fa-arrow-right fa-lg" aria-hidden="true"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- END  -->
                                                    <div class="tab-pane" id="buenapro" role="tabpanel">
                                                        <div class="card">
                                                            <div class="card-block">

                                                                <div class="view-info">
                                                                    <input type="hidden" id="idEvaluacionEconomica" value="1" />
                                                                    <div class="row">
                                                                        <div class="form-group col-sm-12">
                                                                            <fieldset class="fieldset">
                                                                                <legend class="legend">Resultado de Participantes</legend>
                                                                                <div class="table-responsive" style="height:250px;">
                                                                                    <table class='grilla bordered'>
                                                                                        <thead>
                                                                                            <tr class="FilaHead">
                                                                                                <th rowspan="1" style="white-space:pre-wrap;width:35px;">#</th>
                                                                                                <th rowspan="1" style="white-space:pre-wrap;width:500px;">Proveedor</th>
                                                                                                <th rowspan="1" style="white-space:pre-wrap;width:160px;">Monto</th>
                                                                                                <th rowspan="1" style="white-space:pre-wrap;width:60px;">Fecha</th>
                                                                                                <th rowspan="1" style="white-space:pre-wrap;width:180px;">Estado</th>
                                                                                                <th rowspan="1" style="white-space:pre-wrap;width:45px;"></th>
                                                                                            </tr>
                                                                                        </thead>
                                                                                        <tbody id="tbDetalleBuenaPro">
                                                                                            @*<tr>
                                                                                                <td>1</td>
                                                                                                <td>Empresa</td>
                                                                                                <td><input type="number" class="control-form" step="any" value="0.000"></td>
                                                                                                <td><input type="date" id="txtFechaIniCalendario" class="control-form"></td>
                                                                                                <td><select id="estadobuenapro" class="control-form"></select></td>
                                                                                                <td>
                                                                                                    <i class="fa fa-trash f-16 text-c-red" title="Quitar Item" onclick="tabEvalTecnicaEconomicaItem(this);"></i>
                                                                                                </td>
                                                                                            </tr>*@
                                                                                        </tbody>
                                                                                    </table>
                                                                                </div>
                                                                            </fieldset>
                                                                        </div>
                                                                    </div>
                                                                    <input type="hidden" id="txtProveedorEvaEcono" value="0" />
                                                                </div>
                                                                <br />
                                                                <div class="row">
                                                                    <div class="col-sm-12">
                                                                        <button class="input-group-inverse btn btn-primary btn-sm float-right" id="btnRegistro" data-toggle="tooltip" data-placement="bottom" title="Siguiente" onclick="guardarTabBuenaPro()" style="margin-left: 15px;">
                                                                            <i class="fa fa-arrow-right fa-lg" aria-hidden="true"></i>
                                                                        </button>
                                                                    </div>
                                                                </div> 
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- tab content end -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="btnCancelar" class="btnCancelarForm" title="Cancelar"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Cancelar</button>
                                        <button id="btnGuardar" class="btnGuardarForm bg-customer" title="Guardar datos"><span class="fa fa-save"></span>&nbsp;Grabar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="modal custom-modal" tabindex="-1" role="dialog" aria-hidden="true" id="divPopupContainerForm1" style="overflow-y:auto;">
                            <div class="modal-dialog modal-lg bg-personalizado" id="divPopupWindowForm1" style="margin-top:30px;">
                                <div class="modal-content">
                                    <div id="divBarraForm1" class="modal-header bg-personalizado" style="cursor:move">
                                        <h5 class="modal-title" id="nombreComision">Listado de Comite</h5>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="form-group col-sm-12">
                                                <div class="table-responsive" style="height:200px;">
                                                    <table class='grilla bordered'>
                                                        <thead>
                                                            <tr class='FilaHead'>
                                                                <th rowspan="1" style="white-space:pre-wrap;width:40px;">#</th>
                                                                <th rowspan="1" style="white-space:pre-wrap;width:80px;">DNI</th>
                                                                <th rowspan="1" style="white-space:pre-wrap;width:100px;">Nombres</th>
                                                                <th rowspan="1" style="white-space:pre-wrap;width:80px;">Cargo</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="tbDetalleVerComision">
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="btnCancelarForm1" class="btnCancelarForm" title="Cancelar"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Cancelar</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
<script src="~/Riztie/Js/App/AppLicitacion.js"></script>