<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="conSISGEFIN" providerName="SQLServer" connectionString="uid=xxxx;pwd=xxxx;server=(local);database=xxxxxx"/>-->
    <add name="conSISGEFIN" providerName="SQLServer" connectionString="uid=xxxxxx;pwd=xxxxxxx;server=xxxxxxx;database=xxxxxxx"/>
  </connectionStrings>
  <appSettings>
    <add key="ArchivoLog" value="C:\PROYECTOS_1\Archivos\Log.txt"/>
    <add key="RutaAuditoria" value="C:\PROYECTOS_1\Archivos\Auditoria.txt"/>
    <add key="TipoCambioSunat" value="https://www.sunat.gob.pe/a/txt/tipoCambio.txt"/>
    <!--<add key="adminUser" value=""/>
    <add key="adminPassword" value=""/>
    <add key="SMTPName" value="smtp.gmail.com"/>
    <add key="SMTPPort" value="587"/>-->
    <add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="log4net, Version=2.0.12.0, Culture=neutral, PublicKeyToken=669E0DDF0BB1AA2A"/>
        <add assembly="CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.Controllers, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.DataDefModel, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.7.2"/>
    <sessionState timeout="9200"/>
    <!--<customErrors mode="On">
      <error statusCode="500" redirect="~/Security/Error?titulo=Conexion a internet&amp;mensaje=Conexion fallida"/>
    </customErrors>-->
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="itext.svg" publicKeyToken="8354AE6D2174DDCA" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.2.1.0" newVersion="7.2.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itext.styledxmlparser" publicKeyToken="8354AE6D2174DDCA" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.2.1.0" newVersion="7.2.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itext.layout" publicKeyToken="8354AE6D2174DDCA" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.2.1.0" newVersion="7.2.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itext.kernel" publicKeyToken="8354AE6D2174DDCA" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.2.1.0" newVersion="7.2.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itext.io" publicKeyToken="8354AE6D2174DDCA" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.2.1.0" newVersion="7.2.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itext.forms" publicKeyToken="8354AE6D2174DDCA" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.2.1.0" newVersion="7.2.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>