
@{
    ViewBag.Title = "EstadoCuenta";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <div class="row">
                        <div class="col-xl-6 col-md-6">
                            <div class="card ">
                                <div class="card-block ">
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                <input type="number" class="form-control Popup" min="2021" id="txtAnioLectivo" value="@ViewBag.Anio">
                                                <span class="input-group-append" id="basic-addon3">
                                                    <button class="input-group-inverse btn btn-inverse" id="btnObtener" title="Estado de cuenta"><i class="fa fa-users fa-lg"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <button class="btn btn-out waves-effect waves-light btn-info btn-square" id="btnImprimirEstadoCuenta" disabled data-toggle="tooltip" data-placement="bottom" title="Imprimir Estado Cuenta"><i class="fa fa-print fa-lg" aria-hidden="true"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6 col-md-6">
                            <div class="card ">
                                <div class="card-block ">
                                    <div class="row ">
                                        <div class="col-sm-12">
                                            <h4 class="text-left" style="color:#3DB9DC;font-weight:bold" id="spnTitulo">ESTADO DE CUENTA</h4>
                                            <hr />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 control-label">ASEGURADO:</label>
                                        <div class="col-sm-6">
                                            <label class="control-label" id="lblAsegurado"></label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                            <div class="row">
                                                <label class="col-sm-5 control-label">TOTAL APORTE:</label>
                                                <div class="col-sm-6">
                                                    <label class="control-label" id="lblAporteTotal"></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="row">
                                                <label class="col-sm-5 control-label">TOTAL DEUDA:</label>
                                                <div class="col-sm-6">
                                                    <label class="control-label" id="lblDeudaTotal"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card-block">
                                                <div class="table-responsive" id="listaEstadoCuenta"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal custom-modal" tabindex="-1" role="dialog" aria-hidden="true" id="divPopupContainer" style="overflow-y:auto;">
                        <div class="modal-dialog modal-lg bg-personalizado" id="divPopupWindow">
                            <div class="modal-content">
                                <div id="divBarra" class="modal-header bg-personalizado" style="cursor:move;">
                                    <h5 class="modal-title"><i class="fa fa-users"></i> Seleccione Asegurado</h5>
                                    <button type="button" id="btnCerrar" class="close"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
                                </div>
                                <div class="modal-body">
                                    <div class="table-responsive" id="divListaAsegurado"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="modal custom-modal" tabindex="-1" role="dialog" aria-hidden="true" id="divPopupContainerPreView" style="overflow-y:auto;">
                        <div class="modal-dialog modal-xl bg-personalizado" id="divPopupWindowiPreView">
                            <div class="modal-content">
                                <div id="divBarraOption" class="modal-header bg-personalizado" style="cursor:move">
                                    <h5 class="modal-title"><i class="fa fa-search"></i> Vista Previa</h5>
                                    <button type="button" id="btnCerrarPreView" class="close"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
                                </div>
                                <div class="modal-body">
                                    <iframe id="ifrmVistaPrevia" style="width:100%;height:800px"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="styleSelector"> </div>
        </div>
    </div>
</div>
<iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
<script src="~/Riztie/Js/App/AppIngresos.js"></script>
<script src="~/Riztie/Js/App/MontoLetras.js"></script>
