@{
    ViewBag.Title = "ReciboIngreso";
    Layout = "~/Views/_LayoutPage.cshtml";
}
<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="card">
                <div class="card-header bg-primary">
                    <h3><i class="fa fa-money" aria-hidden="true"></i> Recibo de Ingreso</h3>
                    <div class="card-header-right">
                        <ul class="list-unstyled card-option">
                            <li><i class="fa fa-window-maximize full-card" style="color:white"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="card-block">
                    <div class="form-row">
                        <div class="form-group col-sm-2">
                            <label class="control-label">Fecha Inicio</label>
                            <input type="date" id="txtFechaInicio" class="control-form" value="@ViewBag.FechaInicial">
                        </div>
                        <div class="form-group col-sm-2">
                            <label class="control-label">Fecha Final</label>
                            <input type="date" id="txtFechaFinal" class="control-form" value="@ViewBag.Fecha">
                        </div>
                        <div class="form-group col-sm-4 m-3">
                            <button class="input-group-inverse btn btn-inverse" id="btnConsultar" data-toggle="tooltip" data-placement="bottom" title="Consultar"><i class="fa fa-search fa-lg" aria-hidden="true"></i></button>
                            <button class="input-group-inverse btn btn-primary" id="btnNuevo" data-toggle="tooltip" data-placement="bottom" title="Nuevo"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></button>
                            <button class="btn btn-out waves-effect waves-light btn-primary btn-square" id="btnPendiente" data-toggle="tooltip" data-placement="bottom" title="Recaudación pendiente"><i class="fa fa-paypal fa-lg" aria-hidden="true"></i></button>
                            <button class="btn btn-out waves-effect waves-light btn-info btn-square" id="btnImprimir" data-toggle="tooltip" data-placement="bottom" title="Imprimir Recibo Ingreso"><i class="fa fa-print fa-lg" aria-hidden="true"></i></button>
                            @*<button class="btn btn-out waves-effect waves-light btn-success btn-square" id="btnAprobar" data-toggle="tooltip" data-placement="bottom" title="Aprobar Recibo Ingreso"><i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i></button>*@
                        </div>
                        @*<div class="form-group col-sm-3">
                <span style="color:black;font-weight:bold;font-size:30px;text-align:right">Total: </span>
                <span id="spnTotalIngresos" style="color:red;font-weight:bold;font-size:30px;text-align:right"></span>
            </div>*@
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <div class="table-responsive dt-responsive" id="divLista"></div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="modal custom-modal" tabindex="-1" role="dialog" aria-hidden="true" id="divPopupContainer" style="overflow-y:auto;">
                            <div class="modal-dialog modal-lg bg-personalizado" id="divPopupWindow" style="margin-top:30px;">
                                <div class="modal-content">
                                    <div id="divBarra" class="modal-header bg-personalizado" style="cursor:move">
                                        <h5 class="modal-title" id="tituloModal">Nuevo Registro</h5>
                                    </div>
                                    <div class="modal-body">
                                        <fieldset class="fieldset">
                                            <div class="row">
                                                <div class="form-group col-sm-6">
                                                    <input type="hidden" class="control-form Popup" id="txtIdRegistro">
                                                    <label class="control-label">Entidad Finaciera</label>
                                                    <select id="cboEntidadFinanciera" class="control-form Reque Popup"></select>
                                                </div>
                                                <div class="form-group col-sm-3">
                                                    <label class="control-label">Fecha Emisión</label>
                                                    <input type="date" id="txtFechaEmision" class="control-form Reque Popup" value="@ViewBag.Fecha">
                                                </div>
                                                <div class="form-group col-sm-3">
                                                    <label class="control-label">Estado</label>
                                                    <select id="cboEstado" class="control-lectura Reque Popup"></select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-sm-6">
                                                    <label class="control-label">Formato de Documento</label>
                                                    <select id="cboFormatoDoc" class="control-form Reque Popup"></select>
                                                </div>
                                                <div class="form-group col-sm-3">
                                                    <label class="control-label">Número</label>
                                                    <input type="text" autocomplete="off" class="control-lectura Popup" maxlength="30" id="txtNumero">
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group col-sm-6">
                                                    <label class="control-label">Linea de Ingreso</label>
                                                    <select id="cboLineaIngreso" class="control-form Reque Popup"></select>
                                                </div>
                                                <div class="form-group col-sm-3">
                                                    <label class="control-label">Moneda</label>
                                                    <select id="cboMoneda" class="control-form Reque Popup"></select>
                                                </div>
                                                <div class="form-group col-sm-3">
                                                    <label class="control-label">Importe</label>
                                                    <input type="text" autocomplete="off" class="control-form Reque Popup text-center" maxlength="30" id="txtImporte" onkeypress="return doubleCheck(event, this)">
                                                </div>
                                            </div>
                                            <hr style="margin-bottom: 1px;margin-top: 1px;">
                                            <div class="row">
                                                <div class="form-group col-sm-8">
                                                    <input type="hidden" autocomplete="off" class="control-form Reque Popup" maxlength="15" id="txtDni">
                                                    <label class="control-label">Asegurado</label>
                                                    <input type="text" autocomplete="off" class="control-lectura Reque Popup" maxlength="30" id="txtNombreCompleto">
                                                </div>
                                                <div class="form-group col-sm-2">
                                                    <label class="control-label"> &nbsp;&nbsp;</label>
                                                    <button class="input-group-inverse btn btn-primary btn-sm" id="btnAgregarItem" data-toggle="tooltip" data-placement="bottom" title="Agregar Asegurado"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></button>
                                                </div>
                                            </div>
                                            <div id="editConcepto" style="display:none">
                                                <div class="row">
                                                    <div class="form-group col-sm-10">
                                                        <label class="control-label">Concepto</label>
                                                        <textarea class="control-form Popup" placeholder="Escribe Aquí!" id="txtConcepto"></textarea>
                                                    </div>
                                                </div>
                                            </div>


                                        </fieldset>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="btnCancelar" class="btnCancelarForm" title="Cancelar"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Cancelar</button>
                                        <button id="btnGuardar" class="btnGuardarForm bg-customer" title="Guardar datos"><span class="fa fa-save"></span>&nbsp;Grabar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="modal custom-modal" tabindex="-1" role="dialog" aria-hidden="true" id="divPopupContainerForm1" style="overflow-y:auto;">
                            <div class="modal-dialog modal-xl bg-personalizado" id="divPopupWindowForm1" style="margin-top:30px;">
                                <div class="modal-content">
                                    <div id="divBarraForm1" class="modal-header bg-personalizado" style="cursor:move">
                                        <h5 class="modal-title" id="nombreComision">Recibo de Recaudación</h5>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="form-group col-md-12 text-center" id="spnLoadData" style="display:none">
                                                <span style="color: #ff5252; border-color: black; font-weight: bold; ">
                                                    <b>Procesando información  ..</b>
                                                    <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                                                </span>
                                            </div>
                                            <div class="form-group col-sm-12" id="listaLoadItem" style="display:none">
                                                <div class="table-responsive dt-responsive" id="divListaRecaudacion" style="height: 400px;overflow-y: auto;"></div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="btnCancelarForm1" class="btnCancelarForm" title="Cancelar"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Cancelar</button>
                                        <button class="btnGuardarForm bg-customer" id="btnGenerarRI" title="Guardar"><span class="fa fa-money"></span>&nbsp;Generar RI</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="modal custom-modal" tabindex="-1" role="dialog" aria-hidden="true" id="divPopupContainerForm2" style="overflow-y: auto; display: none;">
                            @*background: none;*@
                            <div class="modal-dialog modal-md bg-personalizado" id="divPopupWindowForm2" style="margin-top:30px;">
                                <div class="modal-content">
                                    <div id="divBarraForm2" class="modal-header bg-personalizado" style="cursor:move">
                                        <h5 class="modal-title" id="nombreComision">Listado de Asegurados</h5>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="form-group col-md-12 text-center" id="spnLoadDataAsegurado" style="display:none">
                                                <span style="color: #ff5252; border-color: black; font-weight: bold; ">
                                                    <b>Procesando información  ..</b>
                                                    <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                                                </span>
                                            </div>
                                            <div class="form-group col-sm-12" id="listaLoadAsegurado" style="display:none">
                                                <div class="table-responsive dt-responsive" id="divListaAsegurado" style="height: 400px;overflow-y: auto;"></div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="btnCancelarForm2" class="btnCancelarForm" title="Cancelar"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Cancelar</button>
                                        <button class="btnGuardarForm bg-customer" id="btnSeleccionar" title="Guardar"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;Seleccionar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="modal custom-modal" tabindex="-1" role="dialog" aria-hidden="true" id="divPopupContainerPendientes" style="overflow-y:auto;">
                            <div class="modal-dialog modal-xl bg-personalizado" id="divPopupWindowPendientes">
                                <div class="modal-content">
                                    <div id="divBarraPendientes" class="modal-header bg-personalizado" style="cursor:move;">
                                        <h5 class="modal-title">Recibo de Caja</h5>
                                        <button type="button" id="btnCerrarPendientes" class="close"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
                                    </div>
                                    <div id="divCuerpo" class="modal-body">

                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <fieldset class="fieldset">
                                                    <legend class="legend">Pendientes</legend>
                                                    <div class="table-responsive" id="listaPendiente" style="height:400px"></div>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btnCancelarForm" id="btnCancelarPendientes" title="Cancelar"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Cancelar</button>
                                        <button class="btnGuardarForm bg-customer" id="btnGrabarPendientes" title="Guardar"><span class="fa fa-money"></span>&nbsp;Generar Depósito</button>
                                        <button class="btnAprobarForm bg-aprobar" id="btnGrabarIngresos" title="Guardar"><span class="fa fa-cubes"></span>&nbsp;Generar Recaudación</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal custom-modal" tabindex="-1" role="dialog" aria-hidden="true" id="divPopupContainerImportar" style="overflow-y:auto;">
                            <div class="modal-dialog bg-personalizado" id="divPopupWindowImportar">
                                <div class="modal-content">
                                    <div id="divBarraImportar" class="modal-header bg-personalizado" style="cursor:move;">
                                        <h5 class="modal-title">Cargar Archivo</h5>
                                        <button type="button" id="btnCerrarImportar" class="close"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
                                    </div>
                                    <div id="divCuerpo" class="modal-body">
                                        <div class="form-row">
                                            <div class="col-sm-12" style="text-align:center">
                                                <input type="file" id="fupExcel" class="inputfile inputfile-5 Requerido" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel,text/comma-separated-values, text/csv, application/csv,text/plain" data-msg="Archivo a importar" data-multiple-caption="{count} files selected" multiple />
                                                <label for="fupExcel">
                                                    <figure><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z" /></svg></figure>
                                                    <span id="snpnombrearchivo">Seleccione archivo&hellip;</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btnCancelarForm" id="btnCancelarImportar" title="Cancelar"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Cancelar</button>
                                        <button class="btnGuardarForm bg-customer" id="btnImportar" title="Importar"><i class="fa fa-upload" aria-hidden="true"></i>&nbsp;Importar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="modal custom-modal" tabindex="-1" role="dialog" aria-hidden="true" id="divPopupContainerPreView" style="overflow-y:auto;">
                            <div class="modal-dialog modal-lg bg-personalizado" id="divPopupWindowiPreView">
                                <div class="modal-content">
                                    <div id="divBarraOption" class="modal-header bg-personalizado" style="cursor:move">
                                        <h5 class="modal-title"><i class="fa fa-search"></i> Vista Previa</h5>
                                        <button type="button" id="btnCerrarPreView" class="close"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-row">
                                            <div class="form-group col-lg-12">
                                                <div id="divReporte" style="overflow:hidden;width:auto">
                                                    <table style="font-family: Gotham, Helvetica Neue, Helvetica, Arial,' sans-serif'">
                                                        <tbody>
                                                            <tr>
                                                                <td colspan="8" style="font-size: 14px">
                                                                    ESCUELA NACIONAL DE MARIA MERCANTE<br>
                                                                    "ALMIRANTE MIGUEL GRAU"<br>
                                                                </td>
                                                                <td colspan="4">
                                                                    <span id="spnEtiquetaEstado" style="font-size: 24px;color:red;font-weight:bold">PENDIENTE APROBACION</span><br>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="4">
                                                                    <table style="border:1px solid black;width: 180px">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td align="center">Cta.Cte.</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center" id="tdCuentaBancaria"></td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                                <td colspan="4" align="center">
                                                                    <table>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="font-size: 15px;font-weight: bold;width: 474px;text-align:center">RECIBO DE INGRESO</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                                <td width="534" colspan="4" align="right">
                                                                    <table style="border:1px solid black;width: 180px">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="font-size: 24px;text-align: center;font-weight: bold" id="tdNumeroRecibo"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="font-size: 14px;text-align: center;" id="tdFecha">Fecha: </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="12">
                                                                    <span id="spnGlosa" style="font-size: 14px;"></span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="12">
                                                                    <table style="border-collapse: collapse;border: 1px solid black;width: 100%;height: 540px">
                                                                        <thead>
                                                                            <tr>
                                                                                <th width="130" rowspan="2" style="border: 1px solid black;text-align: center">CÓDIGO</th>
                                                                                <th width="810" rowspan="2" style="border: 1px solid black;text-align: center">CONCEPTO</th>
                                                                                <th colspan="2" style="border: 1px solid black;text-align: center">IMPORTE</th>
                                                                            </tr>
                                                                            <tr>
                                                                                <th width="130" style="border: 1px solid black;text-align: center">PARCIAL</th>
                                                                                <th width="150" style="border: 1px solid black;text-align: center">TOTAL</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td colspan="4" style="border-collapse: collapse;width: 100%;vertical-align: top">
                                                                                    <table cellpadding="0" cellspacing="0">
                                                                                        <tbody id="tbDetalleReporte">
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                        <tfoot>
                                                                            <tr>
                                                                                <td colspan="3" style="border: 1px solid black;text-align: right;font-weight: bold;height: 50px">TOTAL</td>
                                                                                <td style="border: 1px solid black;text-align: right;font-weight: bold" id="tdTotal">650</td>
                                                                            </tr>
                                                                        </tfoot>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="12" style="font-size:13px " align="center">
                                                                    <br>
                                                                    CÓDIGO DE LA CONTABILIDAD PRESUPUESTAL Y CODIFICACION PROGRAMATICA DEL GASTO PUBLICO<br>
                                                                    <br>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="3">
                                                                    <table width="100" style="border: 1px solid black" cellpadding="0" cellspacing="0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td colspan="2" style="font-size:10px;border: 1px solid black" align="center">CUENTA MAYOR</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center" style="border: 1px solid black">Debe</td>
                                                                                <td align="center" style="border: 1px solid black">Haber</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="border: 1px solid black">&nbsp;</td>
                                                                                <td style="border: 1px solid black">&nbsp;</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                                <td>&nbsp;</td>
                                                                <td colspan="7" valign="top">
                                                                    <table cellpadding="0" cellspacing="0" style="border: 1px solid black">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td align="center" rowspan="2" style="font-size:10px;border: 1px solid black">Sector</td>
                                                                                <td align="center" rowspan="2" style="font-size:10px;border: 1px solid black">Pliego</td>
                                                                                <td align="center" rowspan="2" style="font-size:10px;border: 1px solid black">Función</td>
                                                                                <td align="center" rowspan="2" style="font-size:10px;border: 1px solid black">Programa</td>
                                                                                <td align="center" rowspan="2" style="font-size:10px;border: 1px solid black">Sub Programa</td>
                                                                                <td align="center" rowspan="2" style="font-size:10px;border: 1px solid black">Actividad y/o Proyecto</td>
                                                                                <td align="center" rowspan="2" style="font-size:10px;border: 1px solid black">Componente</td>
                                                                                <td align="center" rowspan="2" style="font-size:10px;border: 1px solid black">Meta</td>
                                                                                <td align="center" rowspan="2" style="font-size:10px;border: 1px solid black">F.Financ.</td>
                                                                            </tr>
                                                                            <tr></tr>
                                                                            <tr>
                                                                                <td height="38px" style="font-size:10px;border: 1px solid black;text-align:center">26</td>
                                                                                <td style="font-size: 10px;border: 1px solid black;text-align: center">334</td>
                                                                                <td style="font-size:10px;border: 1px solid black">&nbsp;</td>
                                                                                <td style="font-size:10px;border: 1px solid black">&nbsp;</td>
                                                                                <td style="font-size:10px;border: 1px solid black">&nbsp;</td>
                                                                                <td style="font-size:10px;border: 1px solid black">&nbsp;</td>
                                                                                <td style="font-size:10px;border: 1px solid black">&nbsp;</td>
                                                                                <td style="font-size:10px;border: 1px solid black">&nbsp;</td>
                                                                                <td style="font-size: 10px;border: 1px solid black;text-align: center">09</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>

                                                            </tr>
                                                            <tr>
                                                                <td colspan="12" style="font-size:11px " align="center">&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="5" valign="top">
                                                                    <table width="444" cellpadding="0" cellspacing="0" style="border: 1px solid black">
                                                                        <thead>
                                                                            <tr>
                                                                                <td colspan="3" align="center" style="border: 1px solid black">CONTABILIDAD PATRIMONIAL</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td width="73" align="center" style="border: 1px solid black">Código</td>
                                                                                <td width="148" align="center" style="border: 1px solid black">Importe Debe</td>
                                                                                <td width="140" align="center" style="border: 1px solid black">Importe Haber</td>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody id="tblResumenContable"></tbody>
                                                                    </table>
                                                                </td>
                                                                <td>&nbsp;</td>
                                                                <td colspan="5" align="right">
                                                                    <table width="292" cellpadding="0" cellspacing="0" style="border: 1px solid black">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td height="32" style="border: 1px solid black">&nbsp;</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td height="40" align="center" style="font-size:11px;border: 1px solid black ">
                                                                                    DIRECTOR DE PRESUPUESTO Y CONTABILIDAD<BR>
                                                                                    SELLO Y FIRMA
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td height="32" style="border: 1px solid black">&nbsp;</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td height="37" align="center" style="font-size:11px;border: 1px solid black ">
                                                                                    RECEPCIONISTA DEL DEPOSITO<BR>
                                                                                    SELLO Y FIRMA
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <hr />
                                        <div class="form-row">
                                            <div class="form-group col-sm-4">
                                                <div class="input-group mb-2">
                                                    <button id="btnImprimirA4" class="btn btn-sm btn-info waves-effect waves-light"><i class="fa fa-file-alt"></i>Imprimir</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                        <div class="modal custom-modal" tabindex="-1" role="dialog" aria-hidden="true" id="divPopupContainerAprobar" style="overflow-y:auto;">
                            <div class="modal-dialog modal-sm bg-personalizado" id="divPopupWindowAprobar">
                                <div class="modal-content">
                                    <div id="divBarraAprobar" class="modal-header bg-personalizado" style="cursor:move;">
                                        <h5 class="modal-title">
                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                            Aprobar abonos
                                        </h5>
                                        <button type="button" id="btnCerrarAprobar" class="close"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <fieldset class="fieldset">
                                                    <legend class="legend">Fecha abono</legend>
                                                    <input type="date" id="txtFechaAprobacion" class="control-form" value="@ViewBag.FechaAprobacion">
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btnAprobarForm bg-aprobar" id="btnAprobarIngresos" title="Aprobar y enviar"><span class="fa fa-paper-plane"></span>&nbsp;Aprobar y enviar reporte</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*reporte*@
                    <div class="form-row">
                        <div class="form-group col-lg-12">
                            <div id="divReporte" style="overflow:hidden;width:auto;display:none">
                                <table style="font-family: Gotham, Helvetica Neue, Helvetica, Arial,' sans-serif'">
                                    <tbody>
                                        <tr>
                                            <td colspan="8" style="font-size: 14px;height:90px">
                                                IAFAS DE LA MARINA DE GUERRA DEL PERU<br>
                                            </td>
                                            @*<td colspan="4">
                <span id="spnEtiquetaEstado" style="font-size: 24px;color:red;font-weight:bold">PENDIENTE APROBACION</span><br>
            </td>*@
                                        </tr>
                                        <tr>
                                            <td colspan="4">
                                                <table style="border:1px solid black;width: 180px">
                                                    <tbody>
                                                        <tr>
                                                            <td align="center" id="tdLineaIngreso"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td colspan="4" align="center">
                                                <table>
                                                    <tbody>
                                                        <tr>
                                                            <td style="font-size: 15px;font-weight: bold;width: 474px;text-align:center">RECIBO DE INGRESO</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td width="534" colspan="4" align="right">
                                                <table style="border:1px solid black;width: 180px">
                                                    <tbody>
                                                        <tr>
                                                            <td style="font-size: 24px;text-align: center;font-weight: bold" id="tdNumeroRecibo"></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-size: 14px;text-align: center;" id="tdFecha"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="12">
                                                <span id="spnGlosa" style="font-size: 14px;"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="12">
                                                <table style="border-collapse: collapse;border: 1px solid black;width: 100%;height: 440px">
                                                    <thead>
                                                        <tr>
                                                            <th width="130" rowspan="2" style="border: 1px solid black;text-align: center">CLASIFICADOR</th>
                                                            <th width="810" rowspan="2" style="border: 1px solid black;text-align: center">CONCEPTO</th>
                                                            <th colspan="2" style="border: 1px solid black;text-align: center">IMPORTE</th>
                                                        </tr>
                                                        <tr>
                                                            <th width="130" style="border: 1px solid black;text-align: center">PARCIAL</th>
                                                            <th width="150" style="border: 1px solid black;text-align: center">TOTAL</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td colspan="4" style="border-collapse: collapse;width: 100%;vertical-align: top">
                                                                <table cellpadding="0" cellspacing="0">
                                                                    <tbody id="tbDetalleReporte">
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <td colspan="3" style="border: 1px solid black;text-align: right;font-weight: bold;height: 50px">TOTAL</td>
                                                            <td style="border: 1px solid black;text-align: right;font-weight: bold" id="tdTotal"></td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="12" style="font-size:13px " align="center">
                                                <br>
                                                CÓDIGO DE LA CONTABILIDAD PRESUPUESTAL Y CODIFICACION PROGRAMATICA DEL GASTO PUBLICO<br>
                                                <br>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                <table width="100" style="border: 1px solid black" cellpadding="0" cellspacing="0">
                                                    <tbody>
                                                        <tr>
                                                            <td colspan="2" style="font-size:10px;border: 1px solid black" align="center">CUENTA MAYOR</td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center" style="border: 1px solid black">Debe</td>
                                                            <td align="center" style="border: 1px solid black">Haber</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="border: 1px solid black">&nbsp;</td>
                                                            <td style="border: 1px solid black">&nbsp;</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td>&nbsp;</td>
                                            <td colspan="7" valign="top">
                                                <table cellpadding="0" cellspacing="0" style="border: 1px solid black">
                                                    <tbody>
                                                        <tr>
                                                            <td align="center" rowspan="2" style="font-size:10px;border: 1px solid black">Sector</td>
                                                            <td align="center" rowspan="2" style="font-size:10px;border: 1px solid black">Pliego</td>
                                                            <td align="center" rowspan="2" style="font-size:10px;border: 1px solid black">Función</td>
                                                            <td align="center" rowspan="2" style="font-size:10px;border: 1px solid black">Programa</td>
                                                            <td align="center" rowspan="2" style="font-size:10px;border: 1px solid black">Sub Programa</td>
                                                            <td align="center" rowspan="2" style="font-size:10px;border: 1px solid black">Actividad y/o Proyecto</td>
                                                            <td align="center" rowspan="2" style="font-size:10px;border: 1px solid black">Componente</td>
                                                            <td align="center" rowspan="2" style="font-size:10px;border: 1px solid black">Meta</td>
                                                            <td align="center" rowspan="2" style="font-size:10px;border: 1px solid black">F.Financ.</td>
                                                        </tr>
                                                        <tr></tr>
                                                        <tr>
                                                            <td height="38px" style="font-size:10px;border: 1px solid black;text-align:center"></td>
                                                            <td style="font-size: 10px;border: 1px solid black;text-align: center"></td>
                                                            <td style="font-size:10px;border: 1px solid black">&nbsp;</td>
                                                            <td style="font-size:10px;border: 1px solid black">&nbsp;</td>
                                                            <td style="font-size:10px;border: 1px solid black">&nbsp;</td>
                                                            <td style="font-size:10px;border: 1px solid black">&nbsp;</td>
                                                            <td style="font-size:10px;border: 1px solid black">&nbsp;</td>
                                                            <td style="font-size:10px;border: 1px solid black">&nbsp;</td>
                                                            <td style="font-size: 10px;border: 1px solid black;text-align: center"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td colspan="12" style="font-size:11px " align="center">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td colspan="5" valign="top">
                                                <table width="400" cellpadding="0" cellspacing="0" style="border: 1px solid black">
                                                    <thead>
                                                        <tr>
                                                            <td colspan="3" align="center" style="border: 1px solid black">CONTABILIDAD PATRIMONIAL</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="73" align="center" style="border: 1px solid black">Cuenta</td>
                                                            <td width="148" align="center" style="border: 1px solid black">Importe Debe</td>
                                                            <td width="140" align="center" style="border: 1px solid black">Importe Haber</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tblResumenContable"></tbody>
                                                </table>
                                            </td>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td colspan="12" style="font-size:11px " align="center">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td colspan="12">
                                                <table cellpadding="0" cellspacing="0" style="border: 1px solid black;">
                                                    <tbody>
                                                        <tr>
                                                            <td height="80" width="700" style="border: 1px solid black">&nbsp;</td>
                                                            <td height="80" width="700" style="border: 1px solid black">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td height="40" align="center" style="font-size:11px;border: 1px solid black ">
                                                                TESORERIA
                                                            </td>
                                                            <td height="40" align="center" style="font-size:11px;border: 1px solid black ">
                                                                GESTION FINANCIERA
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td height="80" width="700" style="border: 1px solid black">&nbsp;</td>
                                                            <td height="80" width="700" style="border: 1px solid black">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td height="40" align="center" style="font-size:11px;border: 1px solid black ">
                                                                CONTABILIDAD
                                                            </td>
                                                            <td height="40" align="center" style="font-size:11px;border: 1px solid black ">
                                                                DIRECTOR EJECUTIVO
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="styleSelector">
            </div>
        </div>
    </div>
    <iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
    <script src="~/Riztie/Js/App/AppIngresos.js"></script>
