
@{
    ViewBag.Title = "CentroGasto";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="card">
                <div class="card-header bg-primary">
                    @*<h3><i class="fa fa-industry" aria-hidden="true"></i> ENTIDA @{ ViewBag.AnhoActual}</h3>*@
                    <h3><i class="fa fa-industry" aria-hidden="true"></i> MARCO PRESUPUESTAL @ViewBag.AnhoActual</h3>
                </div>
                <div class="card-block">
                    <div class="form-row">
                        <div class="form-group col-sm-3">
                            <label class="control-label">Año Fiscal</label>
                            <input type="number" id="txtAnioFiscal" class="control-form" value="@ViewBag.AnhoActual">
                        </div>
                        <div class="form-group col-md-5">
                            <button class="input-group-inverse btn btn-inverse" id="btnConsultar" data-toggle="tooltip" data-placement="bottom" title="Consultar"><i class="fa fa-search fa-lg" aria-hidden="true"></i></button>
                            <button class="input-group-inverse btn btn-primary" id="btnNuevo" data-toggle="tooltip" data-placement="bottom" title="Nuevo"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <div class="table-responsive" id="divLista"></div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="modal custom-modal" tabindex="-1" role="dialog" aria-hidden="true" id="divPopupContainer" style="overflow-y:auto;">
                            <div class="modal-dialog modal-lg bg-personalizado" id="divPopupWindow" style="margin-top:1px;">
                                <div class="modal-content">
                                    <div id="divBarra" class="modal-header bg-personalizado" style="cursor:move">
                                        <h5 class="modal-title">Registrar Marco</h5>
                                        <button type="button" id="btnCerrarFormato" class="close"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-row">
                                            <div class="form-group col-sm-12">
                                                <label class="control-label">P.C.A.</label>
                                                <select id="cboPCA" class="control-form"></select>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-sm-12">
                                                <label class="control-label">Meta</label>
                                                <select id="cboMeta" class="SelectSearch control-form"></select>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-sm-12">
                                                <label class="control-label">Sub-Meta</label>
                                                <select id="cboSubMeta" class="SelectSearch control-form"></select>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-sm-12">
                                                <label class="control-label">Clasificador</label>
                                                <select id="cboClasificador" class="SelectSearch control-form"></select>
                                            </div>
                                        </div>
                                        @*<div class="row m-2">
                            <div class="col-sm-12">
                                <fieldset class="fieldset">
                                    <legend class="legend">Clasificador de Gasto</legend>
                                    <div class="table-responsive" id="listaClasificador" style="height:185px;"></div>
                                </fieldset>
                            </div>
                        </div>*@
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btnCancelarForm" id="btnCancelar" title="Cancelar"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Cancelar</button>
                                        <button class="btnGuardarForm bg-customer" id="btnGuardar" title="Guardar"><span class="fa fa-save"></span>&nbsp;Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
<script src="~/Riztie/Js/App/AppPresu.js"></script>
