@{
    ViewBag.Title = "Proveedor";
    Layout = "~/Views/_LayoutPage.cshtml";
}
<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="card">
                <div class="card-header bg-primary">
                    <h3><i class="fa fa-users" aria-hidden="true"></i> EMPLEADO</h3>
                    <div class="card-header-right">
                        <ul class="list-unstyled card-option">
                            <li><i class="fa fa-window-maximize full-card" style="color:white"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="card-block">
                    <div class="form-row">
                        <div class="form-group col-sm-2">
                            <button class="input-group-inverse btn btn-primary" id="btnNuevo">Nuevo <i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <div class="table-responsive" id="divLista"></div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="modal custom-modal" tabindex="-1" role="dialog" aria-hidden="true" id="divPopupContainer" style="overflow-y:auto;">
                            <div class="modal-dialog modal-xl bg-personalizado" id="divPopupWindow" style="margin-top:30px;">
                                <div class="modal-content">
                                    <div id="divBarra" class="modal-header bg-personalizado" style="cursor:move">
                                        <h5 class="modal-title" id="tituloModal">Nuevo Registro</h5>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="form-group col-sm-4">
                                                <input type="hidden" class="control-form Popup" id="txtIdRegistro">
                                                <label class="control-label">Tipo Documento</label>
                                                <select id="cboTipoDocumento" class="control-form Reque Popup"></select>
                                            </div>
                                            <div class="form-group col-sm-3">
                                                <label class="control-label">Tipo de contribuyente</label>
                                                <select id="cboTipoContribuyente" class="control-lectura Popup"></select>
                                            </div>
                                            <div class="form-group col-sm-5" style="margin-bottom: 1px;padding-left: 2px;padding-right: 2px;">
                                                <fieldset class="fieldset">
                                                    <legend class="legend">Tipo de Persona</legend>
                                                    <div class="row">
                                                        <div class="form-check form-check-inline" style="left: 5px;">
                                                            <input class="form-check-input chkTipoPersonaId Popup" type="checkbox" id="chkEsEmpleado">
                                                            <label class="form-check-label" for="chkEsEmpleado">Empleado</label>
                                                        </div>
                                                        <div class="form-check form-check-inline" style="display:none">
                                                            <input class="form-check-input chkTipoPersonaId Popup" type="checkbox" id="chkEsProveedor">
                                                            <label class="form-check-label" for="chkEsProveedor">Proveedor</label>
                                                        </div>
                                                        <div class="form-check form-check-inline" style="display:none">
                                                            <input class="form-check-input chkTipoPersonaId Popup" type="checkbox" id="chkEsAsegurado">
                                                            <label class="form-check-label" for="chkEsAsegurado">Asegurado</label>
                                                        </div>
                                                        <div class="form-check form-check-inline" style="display:none">
                                                            <input class="form-check-input chkTipoPersonaId Popup" type="checkbox" id="chkEsFamiliar">
                                                            <label class="form-check-label" for="chkEsFamiliar">Familiar</label>
                                                        </div>
                                                        <div class="form-check form-check-inline" style="display:none">
                                                            <input class="form-check-input chkTipoPersonaId Popup" type="checkbox" id="chkEsOtros">
                                                            <label class="form-check-label" for="chkEsOtros">Otros</label>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="row">
                                                <div class="form-group col-sm-3" id="tipoPersonaJuridicaRuc">
                                                    <label class="control-label">
                                                        RUC   <span id="spnLoad" style="color: rgb(33, 67, 253); border-color: black; font-weight: bold; display:none;">
                                                            <b>Sunat..</b>
                                                            <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                                                        </span>
                                                    </label>
                                                    <input type="text" autocomplete="off" maxlength="11" class="control-form Popup" id="txtRUC" title="Ingrese RUC y presione ENTER" onkeypress="return NumCheck(event, this)">
                                                    <span id="spnDocumento"></span>
                                                </div>
                                                <div class="form-group col-sm-6 personaJuridica" id="tipoPersonaJuridica">
                                                    <label class="control-label">Razón Social</label>
                                                    <input type="text" class="control-form Popup" id="txtRazonSocial" autocomplete="off">
                                                </div>
                                            </div>
                                        </div>
                                        <div id="tipoPersonaNatural">
                                            <div class="row">
                                                <div class="form-group col-sm-3">
                                                    <label class="control-label">
                                                        Número Documento

                                                        <span id="spnLoadDoc" style="color: rgb(33, 67, 253); border-color: black; font-weight: bold; display:none;">
                                                            <b>Sunat..</b>
                                                            <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                                                        </span>
                                                    </label>
                                                    <input type="text" autocomplete="off" maxlength="8" class="control-form Reque Popup" id="txtNroDocumento" onkeypress="return NumCheck(event, this)">
                                                    <span id="spnDniDocumento"></span>
                                                </div>
                                                <div class="form-group col-sm-3">
                                                    <label class="control-label">Apellido Paterno</label>
                                                    <input type="text" autocomplete="off" class="control-form Reque Popup" id="txtApePaterno">
                                                </div>
                                                <div class="form-group col-sm-3">
                                                    <label class="control-label">Apellido Materno</label>
                                                    <input type="text" autocomplete="off" class="control-form Reque Popup" id="txtApeMaterno">
                                                </div>
                                                <div class="form-group col-sm-3">
                                                    <label class="control-label">Nombres</label>
                                                    <input type="text" autocomplete="off" class="control-form Reque Popup" id="txtNombres">
                                                </div>
                                            </div>
                                        </div>
                                        <div id="divEstadoSunat" style="display:none">
                                            <div class="row">
                                                <div class="form-group col-sm-4">
                                                    <label class="control-label">Estado Sunat</label>
                                                    <label class="control-lectura" id="lblEstadoSunat"></label>
                                                </div>
                                                <div class="form-group col-sm-4">
                                                    <label class="control-label">Condición Sunat</label>
                                                    <label class="control-lectura" id="lblCondicionSunat"></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <!-- tab header start -->
                                                <div class="tab-header card">
                                                    <ul class="nav nav-tabs md-tabs tab-timeline" role="tablist" id="mytab">
                                                        <li class="nav-item">
                                                            <a class="nav-link active" data-toggle="tab" href="#datosgeneral" role="tab">Datos Generales</a>
                                                            <div class="slide"></div>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" data-toggle="tab" href="#laborales" role="tab">Datos Laborales</a>
                                                            <div class="slide"></div>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" data-toggle="tab" href="#direccion" role="tab">Dirección</a>
                                                            <div class="slide"></div>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" data-toggle="tab" href="#datosMilitares" role="tab">Datos Militares</a>
                                                            <div class="slide"></div>
                                                        </li>
                                                        <li class="nav-item" style="display:none;">
                                                            <a class="nav-link" data-toggle="tab" href="#datosTributarios" role="tab">Datos Tributarios</a>
                                                            <div class="slide"></div>
                                                        </li>
                                                        <li class="nav-item" style="display:none;">
                                                            <a class="nav-link" data-toggle="tab" href="#datosAseguradora" role="tab">Datos Aseguradora</a>
                                                            <div class="slide"></div>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" data-toggle="tab" href="#bancario" role="tab">Datos Bancarios</a>
                                                            <div class="slide"></div>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="tab-content">
                                                    <div class="tab-pane active" id="datosgeneral" role="tabpanel">
                                                        <div class="card">
                                                            <div class="card-block">
                                                                <div class="row">
                                                                    <div class="form-group col-sm-3">
                                                                        <label class="control-label">Pais</label>
                                                                        <select id="cboPais" class="control-form Reque Popup"></select>
                                                                    </div>
                                                                    <div class="form-group col-sm-3">
                                                                        <label class="control-label">Teléfono</label>
                                                                        <input type="number" id="txtTelefono" autocomplete="off" class="control-form Reque Popup" />
                                                                    </div>
                                                                    <div class="form-group col-sm-3">
                                                                        <label class="control-label">Correo Electrónico</label>
                                                                        <input type="email" id="txtCorreo" autocomplete="off" class="control-form Popup" />
                                                                    </div>
                                                                    <div class="form-group col-sm-3">
                                                                        <label class="control-label">Fecha Nacimiento</label>
                                                                        <input type="date" id="txtFechaNacimiento" autocomplete="off" class="control-form Reque Popup" />
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="form-group col-sm-3">
                                                                        <label class="control-label">Sexo</label>
                                                                        <select id="cboSexo" class="control-form Reque Popup"></select>
                                                                    </div>
                                                                    <div class="form-group col-sm-3">
                                                                        <label class="control-label">Estado Civil</label>
                                                                        <select id="cboEstadoCivil" class="control-form Reque Popup"></select>
                                                                    </div>
                                                                    <div class="form-group col-sm-3">
                                                                        <label class="control-label">Estado</label>
                                                                        <select id="cboEstado" class="control-lectura Reque Popup"></select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane" id="laborales" role="tabpanel">
                                                        <div class="card">
                                                            <div class="card-block">
                                                                <div id="chklaborales">
                                                                    <div class="row">
                                                                        <div class="form-group col-sm-6">
                                                                            <label class="control-label">Entidad</label>
                                                                            <select id="cboEntidad" class="control-lectura Popup"></select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row ">
                                                                        <div class="form-group col-sm-6">
                                                                            <label class="control-label">Oficina</label>
                                                                            <select id="cboOficina" class="control-form Reque Popup"></select>
                                                                        </div>
                                                                        <div class="form-group col-sm-4">
                                                                            <label class="control-label">Fecha Ingreso</label>
                                                                            <input type="date" id="txtFechaIngreso" autocomplete="off" class="control-form Reque Popup" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane" id="direccion" role="tabpanel">
                                                        <div class="card">
                                                            <div class="card-block">
                                                                <div class="row">
                                                                    <div class="form-group col-sm-4">
                                                                        <label class="control-label">Departamento</label>
                                                                        <select id="cboDepartamento" class="SelectSearch control-form Popup"></select>
                                                                    </div>
                                                                    <div class="form-group col-sm-4">
                                                                        <label class="control-label">Provincia</label>
                                                                        <select id="cboProvincia" class="SelectSearch control-form Popup"></select>
                                                                    </div>
                                                                    <div class="form-group col-sm-4">
                                                                        <label class="control-label">Distrito</label>
                                                                        <select id="cboDistrito" class="SelectSearch control-form Popup"></select>
                                                                    </div>
                                                                </div>
                                                                <div class="row ">
                                                                    <div class="form-group col-sm-12">
                                                                        <label class="control-label">Dirección</label>
                                                                        <textarea class="control-form Reque Popup" rows="2" id="ttaDireccion"></textarea>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane" id="datosMilitares" role="tabpanel">
                                                        <div class="card">
                                                            <div class="card-block">
                                                                <div class="row">
                                                                    <div class="form-group col-sm-4">
                                                                        <label class="control-label">Grado</label>
                                                                        <select id="cboGrado" class="SelectSearch control-form Popup"></select>
                                                                    </div>
                                                                    <div class="form-group col-sm-4">
                                                                        <label class="control-label">Situación</label>
                                                                        <select id="cboSituacion" class="control-form Popup"></select>
                                                                    </div>
                                                                    <div class="form-group col-sm-4">
                                                                        <label class="control-label">CIP</label>
                                                                        <input id="txtCIP" class="control-form Popup" autocomplete="off" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane" id="datosAseguradora" role="tabpanel">
                                                        <div class="card">
                                                            <div class="card-block">

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane" id="datosTributarios" role="tabpanel">
                                                        <div class="card">
                                                            <div class="card-block">
                                                                <div class="row">

                                                                    <div class="form-group col-sm-5">
                                                                        <label class="control-label">Contacto</label>
                                                                        <input id="txtContacto" class="control-form Popup" />
                                                                    </div>
                                                                    <div class="form-group col-sm-3">
                                                                        <label class="control-label" for="dtgEsAgenteRetencion">Es agente retención:</label>
                                                                        <input type="checkbox" id="dtgEsAgenteRetencion" class="Popup" data-toggle="toggle" data-width="160px" data-on="SI" data-off="NO" data-onstyle="success" data-offstyle="danger">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane" id="bancario" role="tabpanel">
                                                        <div class="row">
                                                            <div class="form-group col-sm-6">
                                                                <label class="control-label">Banco</label>
                                                                <select id="cboBanco" class="SelectSearch control-form Popup"></select>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-sm-6">
                                                                <label class="control-label">Nro. Cuenta</label>
                                                                <input type="number" autocomplete="off" maxlength="20" id="txtNroCuenta" class="control-form Popup" />
                                                            </div>
                                                            <div class="form-group col-sm-6">
                                                                <label class="control-label">CCI</label>
                                                                <input type="number" autocomplete="off" maxlength="20" id="txtCCI" class="control-form Popup" />
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-sm-6">
                                                                <label class="control-label">Cuenta detracciones Banco de la Nación</label>
                                                                <input type="number" autocomplete="off" maxlength="20" id="txtNroCuenta" class="control-form Popup" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button id="btnCancelar" class="btnCancelarForm" title="Cancelar"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Cancelar</button>
                                        <button id="btnGuardar" class="btnGuardarForm bg-customer" title="Guardar datos"><span class="fa fa-save"></span>&nbsp;Grabar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
<script src="~/Riztie/Js/App/AppRRHH.js"></script>

