
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <div id="divDetalleIngresos">
                        <hr />
                        <h2 style="color:blue"><i class="fa fa-money" aria-hidden="true"></i> SISTEMA DE GESTION FINANCIERA</h2>
                        <hr />
                    </div>
                </div>
            </div>
            <input id="hdfRaiz" type="hidden" value="@Url.Content("~")" />
            <div id="styleSelector"> </div>
        </div>
    </div>
</div>


