
@{
    ViewBag.Title = "FamiliaCuenta";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="card">
                <div class="card-header bg-primary">
                    <h3><i class="fa fa-users" aria-hidden="true"></i> CONFIGURACIÓN FAMILIA CUENTA</h3>
                </div>
                <div class="card-block">
                    <div class="form-row">
                        <div class="form-group col-sm-1">
                            <label class="control-label">Año Fiscal</label>
                            <input type="text" id="txtAnio" class="control-form PopupCons" value="@ViewBag.Anio">
                        </div>

                        <div class="form-group col-md-10 m-3">
                            <button class="input-group-inverse btn btn-dark" id="btnConsultar" data-toggle="tooltip" data-placement="bottom" title="Consultar"><i class="fa fa-search fa-lg" aria-hidden="true"></i></button>
                            <button class="input-group-inverse btn btn-primary" id="btnNuevo" data-toggle="tooltip" data-placement="bottom" title="Nuevo"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></button>
                            <button class="input-group-inverse btn btn-info" id="btnListado"> Ver Listado <i class="fa fa-list" aria-hidden="true"></i> </button>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <div class="table-responsive" id="divLista"></div>
                        </div>
                    </div>


                    <div class="form-row">
                        <div class="modal custom-modal" tabindex="-1" role="dialog" aria-hidden="true" id="divPopupContainer" style="overflow-y:auto;">
                            <div class="modal-dialog modal-xl bg-personalizado" id="divPopupWindow" style="margin-top:30px;">
                                <div class="modal-content">
                                    <div id="divBarra" class="modal-header bg-personalizado" style="cursor:move">
                                        <h5 class="modal-title" id="tituloModal"></h5>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="form-group col-sm-2">
                                                <input type="hidden" class="control-form Popup" id="txtIdRegistro">
                                                <label class="control-label">Año Fiscal</label>
                                                <input type="text" class="control-form Reque Popup" id="txtAnioPerido" value="@ViewBag.Anio" autocomplete="off">
                                            </div>
                                            <div class="form-group col-sm-4">
                                                <label class="control-label">Tipo de Uso</label>
                                                <select id="cboTipoUso" class="control-form Reque Popup"></select>
                                            </div>
                                            <div class="form-group col-sm-4">
                                                <label class="control-label">Tipo de Bien</label>
                                                <select id="cboTipoBien" class="control-form Reque Popup"></select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-sm-6">
                                                <label class="control-label">Grupo</label>
                                                <select id="cboGrupo" class="SelectSearch control-form Reque Popup"></select>
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label class="control-label">Clase</label>
                                                <select id="cboClase" class="SelectSearch control-form Reque Popup"></select>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group col-sm-6">
                                                <label class="control-label">Familia</label>
                                                <select id="cboFamilia" class="SelectSearch control-form Reque Popup"></select>
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label class="control-label">Clasificador</label>
                                                <select id="cboClasificador" class="SelectSearch control-form Reque Popup"></select>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="form-group col-sm-6">
                                                <label class="control-label">Cuenta Mayor</label>
                                                <select id="cboCuentaMayor" class="SelectSearch control-form Reque Popup"></select>
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label class="control-label">Sub Cuenta</label>
                                                <select id="cboSubCuenta" class="SelectSearch control-form Reque Popup"></select>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group col-sm-4">
                                                <label class="control-label">Estado</label>
                                                <select id="cboEstado" class="control-lectura Reque Popup"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="btnCancelar" class="btnCancelarForm" title="Cancelar"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Cancelar</button>
                                        <button id="btnGuardar" class="btnGuardarForm bg-customer" title="Guardar datos"><span class="fa fa-save"></span>&nbsp;Grabar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="modal custom-modal" tabindex="-1" role="dialog" aria-hidden="true" id="divPopupContainerForm1" style="overflow-y:auto;">
                            <div class="modal-dialog modal-xl bg-personalizado" id="divPopupWindowForm1" style="margin-top:15px;">
                                <div class="modal-content">
                                    <div id="divBarraForm1" class="modal-header bg-personalizado" style="cursor:move">
                                        <h5 class="modal-title">Listado de Familia Cuenta</h5>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="form-group col-md-12 text-center" id="spnLoadData" style="display:none">
                                                <span style="color: #ff5252; border-color: black; font-weight: bold; ">
                                                    <b>Procesando información  ..</b>
                                                    <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                                                </span>
                                            </div>
                                            <div class="form-group col-md-12" id="listaInactivo" style="display:none">
                                                <div class="table-responsive" id="divListaInactivo"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="btnCancelarForm1" class="btnCancelarForm" title="Cancelar"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Cancelar</button>
                                        <button class="btnGuardarForm bg-customer" id="btnSeleccionarItems" title="btn btn-success"><span class="fa fa-hand-o-left"></span>&nbsp;Agregar Items</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
<script src="~/Riztie/Js/App/AppContabilidad.js"></script>