@{
    ViewBag.Title = "AccesoSistema";
    Layout = "~/Views/_LayoutPage.cshtml";
}
<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="col-xl-12 col-md-12">
                <div class="card table-card">
                    <div class="card-header">
                        <h5>Acceso al Sistema</h5>
                    </div>
                    <div class="card-body p-b-0">
                        <div class="table-responsive" id="lista"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="styleSelector">
    </div>
</div>
<iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
<script src="~/Daymeva/Js/App/AppSecurity.js"></script>


