
@{
    ViewBag.Title = "Perfil";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="card">
                <div class="card-header bg-primary">
                    <h3><i class="fa fa-calendar" aria-hidden="true"></i> Lista de Perfiles</h3>
                    <div class="f-right">
                        <i class="fa fa-question-circle-o fa-2x" id="btnAyuda" data-toggle="tooltip" data-placement="bottom" title="Ayuda usuario" style="color:white;cursor:pointer"></i>
                    </div>
                </div>
                <div class="card-block">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <div class="table-responsive" id="lista"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="styleSelector">
    </div>
    
</div>
<iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
<script src="~/Daymeva/Js/App/AppSecurity.js"></script>



