
@{
    ViewBag.Title = "TipoPatrimonio";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="card">
                <div class="card-header bg-primary">
                    <h3><i class="fa fa-users" aria-hidden="true"></i> TIPO PATRIMONIO</h3>
                </div>
                <div class="card-block">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <div class="table-responsive" id="divLista"></div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <div class="table-responsive" id="divListaActivo"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
<script src="~/Riztie/Js/App/AppPatrimonio.js"></script>





