
@{
    ViewBag.Title = "Articulo";
    Layout = "~/Views/_LayoutPage.cshtml";
}
<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="card">
                <div class="card-header bg-primary">
                    <h3><i class="fa fa-file" aria-hidden="true"></i> BIENES Y SERVICIOS</h3>
                </div>
                <div class="card-block">
                    <div class="form-row">
                        <div class="form-group col-sm-10">
                            <button class="input-group-inverse btn btn-primary" id="btnNuevo">Nuevo <i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></button>
                            <button class="input-group-inverse btn btn-info" id="btnListado"> Ver Listado <i class="fa fa-list" aria-hidden="true"></i> </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="tab-header card">
                                <ul class="nav nav-tabs md-tabs tab-timeline" role="tablist" id="mytab">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="btnTabBienes" data-toggle="tab" href="#items" role="tab">Bienes</a>
                                        <div class="slide"></div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="btnTabServicios" data-toggle="tab" href="#items" role="tab">Servicios</a>
                                        <div class="slide"></div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="btnTabObras" data-toggle="tab" href="#items" role="tab">Obras</a>
                                        <div class="slide"></div>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane active" id="items" role="tabpanel">
                                    <div class="card">
                                        <div class="card-block">
                                            <div class="form-row">
                                                <div class="form-group col-md-12" style="display:none">
                                                    <div class="row">
                                                        <div class="col-sm-2">
                                                            <label class="control-label">Codigo</label>
                                                            <input type="text" autocomplete="off" id="codigoFilt" class="control-form PopupFiltro" />
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <label class="control-label">Descripción</label>
                                                            <input type="text" autocomplete="off" id="nombreFilt" class="control-form PopupFiltro" />
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <label class="control-label">Unidad Medida</label>
                                                            <select id="unidaMedidaFilt" class="SelectSearch control-form PopupFiltro"></select>
                                                        </div>
                                                        <div class="col-sm-1">
                                                            <button class="input-group-inverse btn btn-inverse btn-md" id="btnConsultar" data-toggle="tooltip" data-placement="bottom" title="Consultar BD"><i class="fa fa-search fa-lg" aria-hidden="true"></i></button>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <div class="table-responsive" id="divLista"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="modal custom-modal" tabindex="-1" role="dialog" aria-hidden="true" id="divPopupContainer" style="overflow-y:auto;">
                            <div class="modal-dialog modal-lg bg-personalizado" id="divPopupWindow" style="margin-top:30px;">
                                <div class="modal-content">
                                    <div id="divBarra" class="modal-header bg-personalizado" style="cursor:move">
                                        <h5 class="modal-title" id="tituloModal"></h5>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="form-group col-sm-4">
                                                <input type="hidden" class="control-form Popup" id="txtIdRegistro">
                                                <label class="control-label">Tipo de Bien</label>
                                                <select id="cboTipoBien" class="control-form Reque Popup"></select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-sm-10">
                                                <label class="control-label">Grupo</label>
                                                <select id="cboGrupo" class="SelectSearch control-form Reque Popup"></select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-sm-10">
                                                <label class="control-label">Clase</label>
                                                <select id="cboClase" class="SelectSearch control-form Reque Popup"></select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-sm-10">
                                                <label class="control-label">Familia</label>
                                                <select id="cboFamilia" class="SelectSearch control-form Reque Popup"></select>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="form-group col-sm-4">
                                                <label class="control-label">Código Bien</label>
                                                <input type="text" autocomplete="off" maxlength="20" id="txtCodigo" class="control-form Reque Popup" />
                                            </div>
                                            <div class="form-group col-sm-4">
                                                <label class="control-label">Tipo Item</label>
                                                <select id="cboTipoItem" class="control-form Reque Popup"></select>
                                            </div>
                                            <div class="form-group col-sm-4">
                                                <label class="control-label">Unidad Medida</label>
                                                <select id="cboUniMed" class="control-form Reque Popup"></select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-sm-12">
                                                <label class="control-label">Nombre</label>
                                                <input type="text" autocomplete="off" id="txtNombre" class="control-form Reque Popup" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-sm-4">
                                                <label class="control-label">Stock Minimo</label>
                                                <input type="text" autocomplete="off" maxlength="20" id="txtStockMin" class="control-form Popup" onkeypress="return NumCheck(event, this)" />
                                            </div>
                                            <div class="form-group col-sm-4">
                                                <label class="control-label">Stok Maximo</label>
                                                <input type="text" autocomplete="off" maxlength="20" id="txtStockMax" class="control-form Popup" onkeypress="return NumCheck(event, this)" />
                                            </div>
                                            <div class="form-group col-sm-4">
                                                <label class="control-label">Estado</label>
                                                <select id="cboEstado" class="control-lectura Reque Popup"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="btnCancelar" class="btnCancelarForm" title="Cancelar"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Cancelar</button>
                                        <button id="btnGuardar" class="btnGuardarForm bg-customer" title="Guardar datos"><span class="fa fa-save"></span>&nbsp;Grabar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="form-row">
                        <div class="modal custom-modal" tabindex="-1" role="dialog" aria-hidden="true" id="divPopupContainerForm1" style="overflow-y:auto;">
                            <div class="modal-dialog modal-xl bg-personalizado" id="divPopupWindowForm1" style="margin-top:30px;">
                                <div class="modal-content">
                                    <div id="divBarraForm1" class="modal-header bg-personalizado" style="cursor:move">
                                        <h5 class="modal-title" id="tituloModal">Listado de Items</h5>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="form-group col-sm-2">
                                                <label class="control-label">Tipo de Bien</label>
                                                <select id="cboTipoBienInact" class="control-form PopupInact"></select>
                                            </div>
                                            <div class="col-sm-2">
                                                <label class="control-label">Codigo</label>
                                                <input type="text" autocomplete="off" id="codigoInact" class="control-form PopupInact" />
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="control-label">Descripción</label>
                                                <input type="text" autocomplete="off" id="nombreInact" class="control-form PopupInact" />
                                            </div>
                                            <div class="col-sm-3">
                                                <label class="control-label">Unidad Medida</label>
                                                <select id="unidaMedidaInact" class="SelectSearch control-form PopupInact"></select>
                                            </div>
                                            <div class="col-sm-1">
                                                <button class="input-group-inverse btn btn-inverse btn-md" id="btnConsultarInact" data-toggle="tooltip" data-placement="bottom" title="Consultar BD"><i class="fa fa-search fa-lg" aria-hidden="true"></i></button>
                                            </div>
                                        </div>

                                        <div class="row">

                                            <div class="form-group col-md-12 text-center" id="spnLoadData" style="display:none">
                                                <span style="color: #ff5252; border-color: black; font-weight: bold; ">
                                                    <b>Procesando información  ..</b>
                                                    <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                                                </span>
                                            </div>
                                            <div class="form-group col-md-12" id="listaInactivo" style="display:none">
                                                <div class="table-responsive" id="divListaInactivo"></div>
                                            </div>
                                            <div class="form-group col-md-12">
                                                <span id="spnArticulo" style="font-weight:bold;color:brown"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="btnCancelarForm1" class="btnCancelarForm" title="Cancelar"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Cancelar</button>
                                        <button class="btnGuardarForm bg-customer" id="btnSeleccionarItems" title="btn btn-success"><span class="fa fa-hand-o-left"></span>&nbsp;Agregar Items</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div id="styleSelector">
        </div>
    </div>
</div>
<iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
<script src="~/Riztie/Js/App/AppLogistica.js"></script>


