@{
    ViewBag.Title = "Cotizacion";
    Layout = "~/Views/_LayoutPage.cshtml";
}
<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="card">
                <div class="card-header bg-primary">
                    <h3><i class="fa fa-money" aria-hidden="true"></i> Cotizaciones</h3>
                    <div class="card-header-right">
                        <ul class="list-unstyled card-option">
                            <li><i class="fa fa-window-maximize full-card text-c-orenge" style="color:white"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="card-block">
                    <div class="form-row">
                        <div class="form-group col-sm-2">
                            <label class="control-label">Fecha Inicio</label>
                            <input type="date" id="txtFechaInicio" class="control-form" value="@ViewBag.FechaInicial">
                        </div>
                        <div class="form-group col-sm-2">
                            <label class="control-label">Fecha Final</label>
                            <input type="date" id="txtFechaFinal" class="control-form" value="@ViewBag.Fecha">
                        </div>
                        <div class="form-group col-md-4 m-3">
                            <button class="input-group-inverse btn btn-dark" id="btnConsultar" data-toggle="tooltip" data-placement="bottom" title="Consultar"><i class="fa fa-search fa-lg" aria-hidden="true"></i></button>
                            <button class="input-group-inverse btn btn-primary" id="btnNuevo" data-toggle="tooltip" data-placement="bottom" title="Nuevo"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></button>
                            <button class="btn btn-out waves-effect waves-light btn-info btn-square" id="btnImprimir" data-toggle="tooltip" data-placement="bottom" title="Imprimir Pedido"><i class="fa fa-print fa-lg" aria-hidden="true"></i></button>
                            <button class="btn btn-out waves-effect waves-light btn-success btn-square" id="btnMostrarCorreo" data-toggle="tooltip" data-placement="bottom" title="Enviar Correo"><i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <div class="table-responsive dt-responsive" id="divLista"></div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="modal custom-modal" tabindex="-1" role="dialog" aria-hidden="true" id="divPopupContainer" style="overflow-y:auto;">
                            <div class="modal-dialog modal-xl bg-personalizado" id="divPopupWindow" style="margin-top:1px;max-width:85%">
                                <div class="modal-content">
                                    <div id="divBarra" class="modal-header bg-personalizado" style="cursor:move">
                                        <h5 class="modal-title">Generar cotización</h5>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-xl-8 col-md-12">
                                                <div class="card table-card review-card">
                                                    <div class="card-header">
                                                        <h5>Solicitud pendiente</h5>
                                                    </div>
                                                    <div class="card-block">
                                                        <div class="row m-2">
                                                            <div class="form-group col-sm-12">
                                                                <div class="table-responsive" id="listaPendientes" style="height:175px;">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row m-2">
                                                            <label class="control-label">Detalle de la Solicitud:</label>
                                                            <div class="form-group col-sm-12">
                                                                <div class="table-responsive" style="height:260px;">
                                                                    <table class='grilla bordered'>
                                                                        <thead>
                                                                            <tr class='FilaHead'>
                                                                                <th style="width:50px;">Item</th>
                                                                                <th style="width:700px;">Descripción</th>
                                                                                <th style="width:50px;">Unidad Medida</th>
                                                                                <th>Cantidad</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody id="tbDetallePedido">
                                                                            <tr>
                                                                                <td></td>
                                                                                <td></td>
                                                                                <td></td>
                                                                                <td></td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-sm-12">
                                                                <span id="spnNroItems" class="control-label">Items: 0</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-md-12">
                                                <div class="card table-card review-card">
                                                    <div class="card-header">
                                                        <h5>Terminos de la Cotización</h5>
                                                    </div>
                                                    <div class="card-block">
                                                        <div class="row">
                                                            <div class="col-sm-10">
                                                                <label class="control-label">Proveedor</label>
                                                                <select class="SelectSearch control-form Reque" id="cboProveedor"></select>
                                                            </div>
                                                            <div class="col-sm-2" style="padding-top: 30px;">
                                                                <button class="input-group-inverse btn btn-primary btn-sm" id="btnAgregar" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Nuevo">
                                                                    <i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <label class="control-label">Condición de Compra</label>
                                                                <select class="control-form Reque" id="cboCondicionCompra"></select>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <label class="control-label">Moneda</label>
                                                                <select class="control-form Reque" id="cboMoneda"></select>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <label class="control-label">Comentario</label>
                                                                <textarea class="control-form" id="ttaComentario" maxlength="200" rows="2"></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="row m-3">
                                                            <div class="col-sm-12">
                                                                <button class="btnCancelarForm" id="btnCancelar" title="Cancelar"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Cancelar</button>
                                                                <button class="btnGuardarForm bg-customer" id="btnGuardar" title="Guardar datos"><span class="fa fa-save"></span>&nbsp;Grabar</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="divReporte" style="overflow:hidden;width:auto;display:none">
                                <table style="max-width: 2480px;width: 100%;font-family: Gotham, Helvetica Neue, Helvetica, Arial,' sans-serif';" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <table width="100%" cellpadding="0" cellspacing="0" style="border: 1px solid black">
                                                    <tbody>
                                                        <tr>
                                                            <td>&nbsp;</td>
                                                            <td colspan="3" style="font-size: 10px;text-align:right;font-weight: bold;vertical-align: top; padding:3px">
                                                                SISGEFIN-MÓDULO DE LOGISTICA
                                                            </td>
                                                        </tr>
                                                        <tr height="130px">
                                                            <td style="font-size: 10px;text-align: left;font-weight: bold;vertical-align: top;">
                                                                IAFAS DE LA MARINA DE GUERRA EL PERU<br>
                                                                OFICINA DE LOGÍSTICA
                                                            </td>
                                                            <td colspan="7" style="text-align: right;vertical-align: top;padding: 1px">
                                                                <table style="border: 1px solid black;text-align: right">
                                                                    <tr>
                                                                        <td style="font-size: 14px;text-align: center;font-weight: bold">SOLICITUD DE COTIZACION</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="font-size: 14px;text-align: center;font-weight: bold" id="tdNroSolicitud"></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="font-size: 14px;text-align: center;font-weight: bold" id="tdFechaEmision"></td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr height="30px">
                                                            <td colspan="4" style="font-size: 13px;font-weight: bold;" id="tdProveedor">
                                                            </td>
                                                            <td colspan="2" style="font-size: 13px;font-weight: bold;" id="tdRUC"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table width="100%" style="border: 1px solid black" cellspacing="5">
                                                    <tr>
                                                        <td colspan="4" style="font-size: 18px;text-align:justify;padding:3px">
                                                            <p>
                                                                Sírvase cotizar a nuestra Institución en moneda nacional y condición de compra crédito comercial lo siguiente, en un plazo no mayor a 2 días hábiles a partir de la recepción de esta Solicitud.
                                                            </p>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <br>
                                                <table width="100%" cellpadding="0" cellspacing="0" style="font-size: 12px;border: 1px solid black;border-collapse: collapse;">
                                                    <thead>
                                                        <tr>
                                                            <th style="border: black 1px solid;padding:5px">ITEM</th>
                                                            <th style="border: black 1px solid;">DESCRIPCION</th>
                                                            <th style="border: black 1px solid;padding: 5px">UNIDAD</th>
                                                            <th style="border: black 1px solid;padding: 5px">CANTIDAD</th>
                                                            <th style="border: black 1px solid;padding: 5px">PRECIO C/IGV</th>
                                                            <th style="border: black 1px solid;padding: 5px">SUB-TOTAL</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tblDetalleReporte"></tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <td colspan="5" style="border: black 1px solid;text-align:right">TOTAL</td>
                                                            <td style="border: black 1px solid;text-align: right" id="tdTotal"></td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <br /><br />
                                                <table width="100%" cellspacing="5">
                                                    <tr>
                                                        <td colspan="4" style="font-size: 16px;text-align:Left;padding:1px">
                                                            <p>
                                                                Atentamente,<br /><br />
                                                                <span id="spnUserAdquisicones"></span><br />
                                                                <span>Email: logistica@iafasfosmar.pe</span><br />
                                                            </p>
                                                        </td>

                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <div class="modal custom-modal" tabindex="-1" role="dialog" aria-hidden="true" id="divPopupContainerForm1" style="overflow-y:auto;">
                            <div class="modal-dialog modal-xl bg-personalizado" id="divPopupWindowForm1" style="margin-top:1px">
                                <div class="modal-content">
                                    <div id="divBarraForm1" class="modal-header bg-personalizado" style="cursor:move">
                                        <h5 class="modal-title">Cotización</h5>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <fieldset class="fieldset">
                                                    <legend class="legend">Datos Cotización</legend>
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <label class="control-label">Número</label>
                                                            <input type="hidden" id="txtIdRegistro">
                                                            <input type="hidden" id="txtTipoSolicitud">
                                                            <label class="control-lectura" id="lblNumero"></label>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <label class="control-label">Fecha Emisión</label>
                                                            <label class="control-lectura" id="lblFechaEmision"></label>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <label class="control-label">Nº de Solicitud</label>
                                                            <label class="control-lectura" id="lblNroSolicitud"></label>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-8">
                                                            <label class="control-label">Condición de Compra</label>
                                                            <label class="control-lectura" id="lblCondicionCompra"></label>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <label class="control-label">Estado</label>
                                                            <label class="control-lectura" id="lblEstado"></label>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <label class="control-label">Comentario</label>
                                                            <textarea class="control-lectura" readonly="readonly" id="ttaComentarioCoti" maxlength="200" rows="2"></textarea>
                                                        </div>
                                                    </div>

                                                    <div class="row m-2">
                                                        <div class="col-sm-12">
                                                            <button class="btnCancelarForm" id="btnCancelarForm1" title="Cancelar"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Cancelar</button>
                                                            <button class="btnGuardarForm bg-customer" id="btnActualizar" title="Actualizar cotización" style="display:none;"><span class="fa fa-envelope"></span>&nbsp;Actualizar</button>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <div class="col-sm-6">
                                                <fieldset class="fieldset">
                                                    <legend class="legend">Datos Proveedor</legend>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <label class="control-label">Proveedor</label>
                                                            <label class="control-lectura" id="lblProveedor"></label>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <label class="control-label">Número Proforma</label>
                                                            <input type="text" autocomplete="off" class="control-form" id="txtProforma">
                                                        </div>
                                                        <div class="col-sm-5">
                                                            <label class="control-label">Fecha Proforma</label>
                                                            <input type="date" class="control-form" id="txtFechaProforma">
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <label class="control-label">Días Entrega</label>
                                                            <input type="number" min="1" class="control-form" id="txtDiasEntrega">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <label class="control-label">Garantía</label>
                                                            <input type="text" autocomplete="off" class="control-form Reque" id="txtGarantia" />
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <label class="control-label">Comentario Proveedor</label>
                                                            <textarea class="control-form Reque" id="ttaComentarioProveedor" maxlength="200" rows="2"></textarea>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="row m-2">
                                            <div class="col-sm-12">
                                                <div class="table-responsive" id="listaDetalle" style="height:310px;"></div>
                                            </div>
                                        </div>
                                        <div class="row m-2">
                                            <div class="col-sm-12">
                                                <h4 style="text-align:right" id="htTotal">Total:0.00</h4>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal custom-modal" tabindex="-1" role="dialog" aria-hidden="true" id="divPopupContainerForm2" style="overflow-y:auto;">
                            <div class="modal-dialog  bg-personalizado" id="divPopupWindowForm2">
                                <div class="modal-content">
                                    <div id="divBarraForm2" class="modal-header bg-personalizado" style="cursor:move">
                                        <h5 class="modal-title">Enviar correo</h5>
                                        <button type="button" id="btnCancelarForm2" class="close"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label class="control-label">Proveedor</label>
                                                <input type="email" id="txtProveedorCorreo" class="control-form" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label class="control-label">Correo Electrónico</label>
                                                <input type="email" id="txtEmail" class="control-form" />
                                            </div>
                                        </div>
                                        <div class="row m-2">
                                            <div class="col-sm-12 text-right">
                                                <button class="btnGuardarForm bg-customer" id="btnEnviarCorreo" title="Enviar Correo">Enviar Correo <span class="fa fa-paper-plane"></span></button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">

                        <div class="modal custom-modal" tabindex="-1" role="dialog" aria-hidden="true" id="divPopupContainerForm3" style="overflow-y:auto;">
                            <div class="modal-dialog modal-lg bg-personalizado" id="divPopupWindowForm3" style="margin-top:30px;">
                                <div class="modal-content">
                                    <div id="divBarraForm3" class="modal-header bg-personalizado" style="cursor:move">
                                        <h5 class="modal-title" id="tituloModal">Nuevo Registro Proveedor</h5>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <!-- tab header start -->
                                                <div class="tab-header card">
                                                    <ul class="nav nav-tabs md-tabs tab-timeline" role="tablist" id="mytab">
                                                        <li class="nav-item">
                                                            <a class="nav-link active" data-toggle="tab" href="#datosgeneral" role="tab">Datos generales</a>
                                                            <div class="slide"></div>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" data-toggle="tab" href="#direccion" role="tab">Dirección</a>
                                                            <div class="slide"></div>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" data-toggle="tab" href="#bancario" role="tab">Bancarios</a>
                                                            <div class="slide"></div>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="tab-content">
                                                    <div class="tab-pane active" id="datosgeneral" role="tabpanel">
                                                        <div class="card">
                                                            <div class="card-block">
                                                                <div class="row">
                                                                    <div class="form-group col-sm-6">
                                                                        <input type="hidden" class="control-form PopupProv" id="txtIdRegistroProv" value="0">
                                                                        <label class="control-label">Tipo Documento</label>
                                                                        <select id="cboTipoDocumento" class="control-form RequeProv PopupProv"></select>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="form-group col-sm-3">
                                                                        <label class="control-label">RUC</label>
                                                                        <input type="number" autocomplete="off" maxlength="11" class="control-form RequeProv PopupProv" id="txtRUC" title="Ingrese RUC y presione ENTER">
                                                                        <span id="spnDocumento"></span>
                                                                    </div>
                                                                    <div class="col-lg-4">
                                                                        <div class="form-group">
                                                                            <label class="control-label">&nbsp;</label>
                                                                            <div class="input-group">
                                                                                <span id="spnLoad" style="color: rgb(33, 67, 253); border-color: black; font-weight: bold; display:none;">
                                                                                    <b>Sunat..</b>
                                                                                    <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="form-group col-sm-12">
                                                                        <label class="control-label">Razón Social</label>
                                                                        <input type="text" autocomplete="off" class="control-form RequeProv PopupProv" id="txtNombre">
                                                                    </div>
                                                                </div>
                                                                <div id="divEstadoSunat" style="display:none">
                                                                    <div class="row">
                                                                        <div class="form-group col-sm-4">
                                                                            <label class="control-label">Estado Sunat</label>
                                                                            <label class="control-lectura" id="lblEstadoSunat"></label>
                                                                        </div>
                                                                        <div class="form-group col-sm-4">
                                                                            <label class="control-label">Condición Sunat</label>
                                                                            <label class="control-lectura" id="lblCondicionSunat"></label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="form-group col-sm-5">
                                                                        <label class="control-label">Contacto</label>
                                                                        <input type="text" autocomplete="off" id="txtContacto" class="control-form PopupProv" />
                                                                    </div>
                                                                    <div class="form-group col-sm-3">
                                                                        <label class="control-label">Teléfono</label>
                                                                        <input type="number" id="txtTelefono" autocomplete="off" class="control-form PopupProv" />
                                                                    </div>
                                                                    <div class="form-group col-sm-4">
                                                                        <label class="control-label">Correo Electrónico</label>
                                                                        <input type="email" id="txtCorreo" autocomplete="off" class="control-form PopupProv" />
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="form-group col-sm-6">
                                                                        <label class="control-label" for="dtgEsAgenteRetencion">Es agente retención:</label>
                                                                        <input type="checkbox" id="dtgEsAgenteRetencion" class="PopupProv" data-toggle="toggle" data-width="160px" data-on="SI" data-off="NO" data-onstyle="success" data-offstyle="danger">
                                                                    </div>
                                                                    <div class="form-group col-sm-6">
                                                                        <label class="control-label">Estado</label>
                                                                        <select id="cboEstado" class="control-lectura RequeProv PopupProv"></select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- end of card-block -->
                                                        </div>

                                                        <!-- personal card end-->
                                                    </div>
                                                    <div class="tab-pane" id="direccion" role="tabpanel">
                                                        <div class="card">
                                                            <div class="card-block">
                                                                <div class="row">
                                                                    <div class="form-group col-sm-6">
                                                                        <label class="control-label">Departamento</label>
                                                                        <select id="cboDepartamento" class="SelectSearch control-form PopupProv"></select>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="form-group col-sm-6">
                                                                        <label class="control-label">Provincia</label>
                                                                        <select id="cboProvincia" class="SelectSearch control-form PopupProv"></select>
                                                                    </div>
                                                                    <div class="form-group col-sm-6">
                                                                        <label class="control-label">Distrito</label>
                                                                        <select id="cboDistrito" class="SelectSearch control-form PopupProv"></select>
                                                                    </div>
                                                                </div>
                                                                <div class="row ">
                                                                    <div class="form-group col-sm-12">
                                                                        <label class="control-label">Dirección</label>
                                                                        <textarea class="control-form RequeProv PopupProv" rows="2" id="ttaDireccion"></textarea>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane" id="bancario" role="tabpanel">
                                                        <div class="row">
                                                            <div class="form-group col-sm-6">
                                                                <label class="control-label">Banco</label>
                                                                <select id="cboBanco" class="control-form RequeProv PopupProv"></select>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-sm-6">
                                                                <label class="control-label">Nro. Cuenta</label>
                                                                <input type="number" autocomplete="off" maxlength="20" id="txtNroCuenta" class="control-form PopupProv" />
                                                            </div>
                                                            <div class="form-group col-sm-6">
                                                                <label class="control-label">CCI</label>
                                                                <input type="number" autocomplete="off" maxlength="20" id="txtCCI" class="control-form PopupProv" />
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-sm-6">
                                                                <label class="control-label">Cuenta detracciones Banco de la Nación</label>
                                                                <input type="number" autocomplete="off" maxlength="20" id="txtNroCuenta" class="control-form PopupProv" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button id="btnCancelarForm3" class="btnCancelarForm" title="Cancelar"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Cancelar</button>
                                        <button id="btnGuardarForm3" class="btnGuardarForm bg-customer" title="Guardar datos"><span class="fa fa-save"></span>&nbsp;Grabar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div id="styleSelector">
            </div>
        </div>
    </div>
</div>
<iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
<script src="~/Riztie/Js/App/AppLogistica.js"></script>

