@{
    ViewBag.Title = "Orden de Compra";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="card">
                <div class="card-header bg-primary">
                    <h3><i class="fa fa-file" aria-hidden="true"></i> Listado de Ordenes</h3>
                </div>
                <div class="card-block">
                    <div class="form-row">
                        <div class="form-group col-sm-2">
                            <label class="control-label">Fecha Inicio</label>
                            <input type="date" id="txtFechaInicio" class="control-form" value="@ViewBag.FechaInicial">
                        </div>
                        <div class="form-group col-sm-2">
                            <label class="control-label">Fecha Final</label>
                            <input type="date" id="txtFechaFinal" class="control-form" value="@ViewBag.Fecha">
                        </div>
                        <div class="form-group col-md-4 m-3">
                            <button class="input-group-inverse btn btn-inverse" id="btnConsultar" data-toggle="tooltip" data-placement="bottom" title="Consultar"><i class="fa fa-search fa-lg" aria-hidden="true"></i></button>
                            <button class="input-group-inverse btn btn-primary" id="btnNuevo" data-toggle="tooltip" data-placement="bottom" title="Nuevo"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></button>
                            <button class="btn btn-out waves-effect waves-light btn-info btn-square" id="btnImprimir" data-toggle="tooltip" data-placement="bottom" title="Imprimir Orden con Formato"><i class="fa fa-print fa-lg" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-12">
                            <div class="tab-header card">
                                <ul class="nav nav-tabs md-tabs tab-timeline" role="tablist" id="mytab">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="tabOrdCompra" data-toggle="tab" href="#items" role="tab">Ordenes de Compra</a>
                                        <div class="slide"></div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="tabOrdServicio" data-toggle="tab" href="#items" role="tab">Ordenes de Servicios</a>
                                        <div class="slide"></div>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane active" id="items" role="tabpanel">
                                    <div class="card">
                                        <div class="card-block">
                                            <div class="form-row">
                                                <div class="form-group col-md-12">
                                                    <div class="table-responsive dt-responsive" id="divLista"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="modal custom-modal" tabindex="-1" role="dialog" aria-hidden="true" id="divPopupContainer" style="overflow-y:auto;">
                            <div class="modal-dialog modal-xl bg-personalizado" id="divPopupWindow" style="margin-top:1px;">
                                <div class="modal-content">
                                    <div id="divBarra" class="modal-header bg-personalizado" style="cursor:move">
                                        <h5 class="modal-title">Generar Orden de Compra</h5>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row m-2">
                                            <div class="col-sm-6">
                                                <fieldset class="fieldset">
                                                    <legend class="legend">Solicitud pendiente</legend>
                                                    <div class="table-responsive" id="listaPendientes" style="height:180px;">
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <div class="col-sm-6">
                                                <fieldset class="fieldset">
                                                    <legend class="legend">Proveedores</legend>
                                                    <div class="table-responsive" id="listaProveedor" style="height:180px;">
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="row m-2">
                                            <div class="col-sm-12 text-right">
                                                <button class="btnCancelarForm" id="btnCancelar" title="Cancelar"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Cancelar</button>
                                                <button class="btnGuardarForm bg-customer" id="btnGenerar" title="Generar"><span class="fa fa-life-ring"></span>&nbsp;Generar</button>
                                            </div>
                                        </div>
                                        <div class="row m-2">
                                            <div class="col-sm-12">
                                                <div class="table-responsive" id="listaProductos" style="height:320px;"></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <h4 id="divItems"> Items: 0</h4>
                                            </div>
                                            <div class="col-sm-4">
                                                <h4 id="divSeleccionado" class="text-c-red"> Seleccionados: 0</h4>
                                            </div>
                                            <div class="col-sm-4">
                                                <h4 id="divTotal"> Total cotización: 0.00</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="divReportePreIAFAS" style="overflow:hidden;width:auto;display:none">
                                <table style="        width: 100%;
        font-size: 11px;
        font-family: Arial
" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <table cellpadding="0" cellspacing="0" style="        font-size: 11px;
        font-family:Arial
    ">
                                                    <tbody>
                                                        <tr>
                                                            <td style="width:340px">&nbsp;</td>
                                                            <td style="height:50px">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width: 395px">&nbsp;</td>
                                                            <td style="text-align:center; height:33px" id="tdDiaPreIAFAS"></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width: 395px">&nbsp;</td>
                                                            <td style="text-align: center; height: 33px" id="tdMesPreIAFAS"></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width: 395px">&nbsp;</td>
                                                            <td style="text-align: center; height: 33px" id="tdAnioPreIAFAS"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                            </td>
                                            <td rowspan="3" style="text-align: center;width: 300px;font-size: 14px;
">
                                                <br /><br /><br /><br /><br /><br />
                                                <span>________________________________</span><br />
                                                <span>JEFE DE LOGISTICA</span>
                                                <br /><br /><br /><br />

                                                <span>________________________________</span><br />
                                                <span>DIRECTOR</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 100px;">
                                                <br /><br /><br /><br /><br /><br /><br /><br />
                                                <table cellpadding="0" cellspacing="0" style="        font-size: 11px;
        font-family: Arial
    ">
                                                    <tbody>
                                                        <tr>
                                                            <td style="width:100%">
                                                                &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; <span id="spnRegInternoPreIAFAS"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                <span id="spnCodraComparaPreIAFAS"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                <span id="spnReferenciaPreIAFAS"></span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <br />
                                                <table cellpadding="0" cellspacing="0" style="        font-size: 11px;
        font-family: Arial
    ">
                                                    <tbody>
                                                        <tr>
                                                            <td style="width: 110px">&nbsp;</td>
                                                            <td style="height:20px" id="tdProveedorPreIAFAS"></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width: 110px">&nbsp;</td>
                                                            <td style="height:20px" id="tdRUCPreIAFAS"></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width: 110px">&nbsp;</td>
                                                            <td style="height:20px" id="tdDireccionPreIAFAS"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br /><br /><br /><br /><br />
                                <table cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td style="height: 396px;vertical-align: top">
                                            <table style="        font-size: 11px;
        font-family: Arial
    " cellpadding="0" cellspacing="0">
                                                <tbody id="tbDetallePreIAFAS"></tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </table>

                                <table cellpadding="0" cellspacing="0" style="    font-size: 11px;
        font-family: Arial
    ">
                                    <tbody>
                                        <tr>
                                            <td style="width: 153px">&nbsp;</td>
                                            <td style="height:20px" id="tdPlazoPreIAFAS"></td>
                                        </tr>
                                        <tr>
                                            <td style="width: 153px">&nbsp;</td>
                                            <td style="height:25px" id="tdGarantiaPreIAFAS"></td>
                                        </tr>
                                    </tbody>
                                </table>

                                <table cellpadding="0" cellspacing="0" style="    font-size: 11px;
        font-family: Arial
    ">
                                    <tbody>
                                        <tr>
                                            <td style="width: 153px">&nbsp;</td>
                                            <td style="height:15px" id="tdMontoLetraPreIAFAS"></td>
                                        </tr>
                                        <tr>
                                            <td style="width: 153px">&nbsp;</td>
                                            <td style="height:15px" id="tdCreditoPreIAFAS"></td>
                                        </tr>
                                        <tr>
                                            <td style="width: 153px">&nbsp;</td>
                                            <td style="height:15px" id="tdSolicitantePreIAFAS"></td>
                                        </tr>
                                        <tr>
                                            <td style="width: 153px">&nbsp;</td>
                                            <td style="height:15px;max-width: 310px;" id="tdJustificacionPreIAFAS"></td>
                                        </tr>
                                        <tr>
                                            <td style="width: 153px">&nbsp;</td>
                                            <td style="width: 460px;font-size: 10px;height: 15px" id="tdPartidaPreIAFAS"></td>
                                            <td style="width: 50px">&nbsp;</td>
                                            <td style="height: 15px; font-size: 16px; font-weight: bold" id="tdTotalPreIAFAS"></td>
                                        </tr>
                                        <tr>
                                            <td style="width: 153px">&nbsp;</td>
                                            <td style="height:15px" id="tdCxPPreIAFAS"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div id="divReporte" style="overflow:hidden;width:auto;display:none">
                                <table style="max-width: 2480px;width: 100%;font-family: Arial;
    " cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <table width="100%" cellpadding="0" cellspacing="0" style="border: 1px solid black">
                                                    <tbody>
                                                        <tr>
                                                            <td colspan="2" style="border-top: 1px solid black;border-left:1px solid black;font-size: 12px;text-align: center"><strong>IAFAS DE LA MARINA DE GUERRA DEL PERU</strong></td>
                                                            <td width="84" style="border-top: 1px solid black;">&nbsp;</td>
                                                            <td width="113" style="border-top: 1px solid black;">&nbsp;</td>
                                                            <td width="248" style="border-top: 1px solid black;">&nbsp;</td>
                                                            <td width="918" style="border: 1px solid black;font-size: 12px;text-align: center "><strong>AUTORIZACION DE COMPRA</strong></td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2" style="border-left: 1px solid black;font-size: 12px;text-align: center"><strong>AV. VENEZUELA CDRA. 24 S/N</strong></td>
                                                            <td><strong>DIA:</strong></td>
                                                            <td style="border: 1px solid black;text-align: center" id="tdDia"></td>
                                                            <td>&nbsp;</td>
                                                            <td style="border-left:1px solid black;border-right: 1px solid black;">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2" style="border-left: 1px solid black;font-size: 12px;text-align: center"><strong>R.U.C.: 20555989912</strong></td>
                                                            <td><strong>MES:</strong></td>
                                                            <td style="border: 1px solid black;text-align: center" id="tdMes"></td>
                                                            <td>&nbsp;</td>
                                                            <td style="border-right: 1px solid black;border-left: 1px solid black; text-align: center;font-size: 12px" id="tdGradoJelog">Teniente Segundo</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2" style="border-left: 1px solid black;font-size: 12px;text-align: center"><strong>Teléfono:5147800 Anexo:4759</strong></td>
                                                            <td><strong>AÑO:</strong></td>
                                                            <td style="border: 1px solid black;text-align: center" id="tdAnio"></td>
                                                            <td>&nbsp;</td>
                                                            <td style="border-right: 1px solid black;border-left: 1px solid black; text-align: center;font-size: 12px" id="tdJelog"></td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2" style="border-left: 1px solid black;font-size: 12px;text-align: center">&nbsp;</td>
                                                            <td id="tdEtiquetaIAFAS" style="color:red;font-size:20px">&nbsp;</td>
                                                            <td>&nbsp;</td>
                                                            <td>&nbsp;</td>
                                                            <td style="border-right: 1px solid black;border-left: 1px solid black; text-align: center;font-size: 12px" id="tdDNIJelog"></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="485" style="border-left: 1px solid black;font-size: 12px">&nbsp;</td>
                                                            <td width="326">&nbsp;</td>
                                                            <td>&nbsp;</td>
                                                            <td>&nbsp;</td>
                                                            <td>&nbsp;</td>
                                                            <td style="border-right: 1px solid black;border-left: 1px solid black; text-align: center;font-size: 12px"><strong>JEFE DE LOGISTICA</strong></td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2" style="border-left: 1px solid black;font-size: 16px"><strong><span id="snpTipoOrden"></span></strong></td>
                                                            <td colspan="3" style="font-size: 16px" id="tdNroOrden"></td>
                                                            <td style="border-right: 1px solid black;border-left: 1px solid black; text-align: center;font-size: 12px">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="border: 1px solid black;text-align: center;font-size: 12px"><strong>REG. INTERNO</strong></td>
                                                            <td style="border: 1px solid black;text-align: center;font-size: 12px"><strong>CDRO.COMPARTIVO</strong></td>
                                                            <td colspan="3" style="border: 1px solid black;text-align: center;font-size: 12px"><strong>REFERENCIA</strong></td>
                                                            <td style="border-right: 1px solid black;text-align: center;;font-size: 12px">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="border: 1px solid black;text-align: center;font-size: 12px" id="tdRegistroInterno">&nbsp;</td>
                                                            <td style="border: 1px solid black;text-align: center;font-size: 12px" id="tdCuadroC">&nbsp;</td>
                                                            <td colspan="3" style="border: 1px solid black;text-align: center;font-size: 12px" id="tdRequerimiento">&nbsp;</td>
                                                            <td style="border-right: 1px solid black;border-left: 1px solid black; text-align: center;font-size: 12px" id="tdGradoDirector">Capitán de Navío</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="5" style="border-left: 1px solid black;border-right: 1px solid black;font-size: 12px"><strong>SEÑOR(ES):</strong><span id="spnEmpresa"> </span></td>
                                                            <td style="border-right: 1px solid black;border-left: 1px solid black; text-align: center;font-size: 12px" id="tdDirector"></td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="5" style="border-left: 1px solid black;border-right: 1px solid black;font-size: 12px"><strong>RUC: </strong><span id="spnRUC"></span></td>
                                                            <td style="border-right: 1px solid black;border-left: 1px solid black; text-align: center;font-size: 12px" id="tdDNIDirector"></td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="5" style="border-left: 1px solid black;border-right: 1px solid black;font-size: 12px"><strong>DIRECCION</strong>: <span id="spnDireccion"></span></td>
                                                            <td style="border-right: 1px solid black;border-left: 1px solid black; text-align: center;font-size: 12px"><strong>DIRECTOR</strong></td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="6" style="height:25px; border: 1px solid black; font-size: 10px">
                                                                CON RELACION A LA COTIZACION Nº
                                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                AGRADECEMOS ENVIAR A NUESTRO ALMACEN LO SIGUIENTE&nbsp; :
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border-collapse: collapse;
        width: 100%;
        vertical-align: top;
        border: 1px solid black;
        height: 510px">
                                                <table width="100%" cellpadding="0" cellspacing="0" style="font-size: 12px;">
                                                    <thead id="tblCabecera">
                                                        <tr>
                                                            <th style="border: black 1px solid;padding:5px">ITEM</th>
                                                            <th style="border: black 1px solid;">DESCRIPCION</th>
                                                            <th style="border: black 1px solid;padding: 5px">PRECIO(S/)</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tblDetalleReporte"></tbody>
                                                </table>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <table width="100%" cellpadding="0" cellspacing="0" style="font-size: 10px;border: 1px solid black;border-collapse: collapse;">
                                                    <tbody>
                                                        <tr>
                                                            <td width="20%">PLAZO ENTREGA: </td>
                                                            <td id="tdPlazoEntrega"></td>

                                                        </tr>
                                                        <tr>
                                                            <td width="20%">GARANTIA: </td>
                                                            <td id="tdGarantia"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="52" style="border: 1px solid black;">
                                                <table width="100%" cellpadding="0" cellspacing="0" style="font-size: 10px;">
                                                    <tbody>
                                                        <tr>
                                                            <td width="5%" style="vertical-align: top">SON:</td>
                                                            <td width="78%" style="vertical-align: top" id="tdMontoTexto"></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="15%" style="vertical-align: top">FORMA DE PAGO:</td>
                                                            <td width="65%" style="vertical-align: top" id="tdCredito"></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="5%" style="vertical-align: top">SOLICITANTE:</td>
                                                            <td width="65%" style="vertical-align: top" id="tdSolicitante"></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="5%" style="vertical-align: top">JUSTIFICACION:</td>
                                                            <td width="65%" style="vertical-align: top" id="tdJustificacion"></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="15%" style="vertical-align: top">PRESUPUESTO:</td>
                                                            <td width="65%" style="vertical-align: top" id="tdResumenPresu"></td>
                                                            <td width="5%" style="vertical-align: top">TOTAL:</td>
                                                            <td width="45%" style="vertical-align: top;font-size: 12px;font-weight:bold" id="tdTotal"></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="25%" style="vertical-align: top">CUENTAS POR PAGAR:</td>
                                                            <td width="65%" style="vertical-align: top" id="tdCuentasPagar"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border: 1px solid black;">
                                                <table width="100%" cellpadding="0" cellspacing="0" style="font-size: 10px;">
                                                    <tbody>
                                                        <tr>
                                                            <td width="66%">NOTA:</td>
                                                            <td width="24%" rowspan="6" style="vertical-align: top">
                                                                <table cellpadding="5" cellspacing="0" style="font-size: 10px;">
                                                                    <tr>
                                                                        <td colspan="4" style="text-align: center;border: 1px solid black">RECIBI CONFORME</td>
                                                                    </tr>

                                                                    <tr>
                                                                        <td height="91" colspan="3" style="border-left:1px solid black;text-align: center">
                                                                            <br><br>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td width="66" style="vertical-align:top;border:1px solid black">DIA</td>
                                                                        <td width="95" style="vertical-align:top;border:1px solid black">MES</td>
                                                                        <td width="109" style="vertical-align:top;border:1px solid black">AÑO</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td width="66" style="border:1px solid black;">&nbsp;</td>
                                                                        <td width="95" style="border:1px solid black">&nbsp;</td>
                                                                        <td width="109" style="border:1px solid black">&nbsp;</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="24%">1.- Esta Orden es nula sin las firmas autorizadas.</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="24%">2.- Cada Orden se debe Facturar por separado en original y dos copias y remitirlas a la Oficina de Logística-FOSMAR.</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="24%">3.- Nos reservamos el derecho de devolver la mercancia que nos esté de acuerdo con nuestras especificaciones.</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="24%">4.- La presente tiene una validez de 15 días útiles a partir de la fecha de recepción.</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="24%" style="vertical-align:top">5.- Días de internamiento: Lunes a Viernes 8:00 a 3:00 pm.
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="modal custom-modal" tabindex="-1" role="dialog" aria-hidden="true" id="divPopupContainerForm1" style="overflow-y:auto;">
                            <div class="modal-dialog modal-xl bg-personalizado" id="divPopupWindowForm1" style="margin-top:1px">
                                <div class="modal-content">
                                    <div id="divBarraForm1" class="modal-header bg-personalizado" style="cursor:move">
                                        <h5 class="modal-title">Orden de Compra</h5>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <fieldset class="fieldset">
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <input type="hidden" id="txtIdRegistro">
                                                            <label class="control-label">Número</label>
                                                            <label class="control-lectura" id="lblNumero"></label>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <label class="control-label">Tipo</label>
                                                            <label class="control-lectura" id="lblTipo"></label>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <label class="control-label">Fecha Emisión</label>
                                                            <input type="date" class="control-form popup" id="txtFechaEmision" disabled/>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <label class="col-sm-3 control-label">Proveedor:</label>
                                                        <div class="col-sm-9">
                                                            <label class="control-lectura" id="lblProveedor" data-id=""></label>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <label class="control-label">Nº Cotización</label>
                                                            <label class="control-lectura" id="lblCotizacion"></label>
                                                        </div>
                                                        <div class="col-sm-5">
                                                            <label class="control-label">Nº Proforma</label>
                                                            <label class="control-lectura" id="lblProforma"></label>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <label class="control-label">Días Entrega</label>
                                                            <label class="control-lectura" id="lblDiasEntrega"></label>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <label class="col-sm-3 control-label">Garantía:</label>
                                                        <div class="col-sm-9">
                                                            <label class="control-lectura" id="lblGarantia"></label>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-8">
                                                            <label class="control-label">Condición de Compra</label>
                                                            <label class="control-lectura" id="lblCondicionCompra"></label>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <label class="control-label">Estado</label>
                                                            <label class="control-lectura" id="lblEstado"></label>
                                                        </div>
                                                    </div>
                                                    @*<div class="row">
                                            <div class="col-sm-4">
                                                <label class="control-label">Incluye IGV</label>
                                                <div class="custom-control custom-switch">
                                                    <input type="checkbox" class="custom-control-input" checked id="chkIgv">
                                                    <label class="control-label custom-control-label " for="chkIgv" id="lblChkIgv">SI</label>
                                                </div>
                                            </div>
                                        </div>*@
                                                </fieldset>
                                            </div>
                                            <div class="col-sm-6">
                                                <fieldset class="fieldset">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 control-label">Documento Referencia:</label>
                                                        <div class="col-sm-9">
                                                            <textarea class="control-lectura" style="font-size:13px" readonly id="ttaPedidos" maxlength="250" rows="2"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 control-label">Fte. Fto.:</label>
                                                        <div class="col-sm-9">
                                                            <select class="control-form" id="cboFteFto"></select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 control-label">Justificación:</label>
                                                        <div class="col-sm-9">
                                                            <textarea class="control-form" id="ttaJustificacion" maxlength="250" rows="2"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col-sm-6">
                                                            <label class="control-label">Usuario Creación</label>
                                                            <label class="control-lectura" id="lblUsuarioCreacion"></label>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <label class="control-label">Fecha Creación</label>
                                                            <label class="control-lectura" id="lblFechaCreacion"></label>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12 text-right">
                                                            <button class="btnCancelarForm" id="btnCancelarForm1" title="Cancelar"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Cancelar</button>
                                                            <button class="btnGuardarForm bg-customer" id="btnGuardar" title="Guardar Orden"><span class="fa fa-save"></span>&nbsp;Guardar</button>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-lg-10">
                                                <div class="table-responsive" style="height:330px">
                                                    <table class='grilla bordered table-fija'>
                                                        <thead>
                                                            <tr class='FilaHead'>
                                                                <th rowspan="2" style="white-space: pre-wrap; width: 50px;">Item</th>
                                                                <th rowspan="2" style="white-space: pre-wrap; width: 400px;">Descripción</th>
                                                                <th rowspan="2" style="white-space: pre-wrap; width: 50px;">Unidad Medida</th>
                                                                <th rowspan="2" style="white-space: pre-wrap; width: 50px;">Cantidad</th>
                                                                <th rowspan="2" style="white-space: pre-wrap; width: 50px;">Precio con IGV</th>
                                                                <th rowspan="2" style="white-space: pre-wrap; width: 50px;">Total</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="tbDetalleOrden">
                                                            <tr>
                                                                <td style="width:50px;"></td>
                                                                <td style="width:400px;"></td>
                                                                <td style="width:50px;"></td>
                                                                <td style="width:50px;"></td>
                                                                <td style="width:50px;"></td>
                                                                <td style="width:50px;"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <label class="control-label">Sub Total</label>
                                                        <label class="control-lectura text-right" id="lblSubTotal"></label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <label class="control-label">I.G.V.</label>
                                                        <label class="control-lectura text-right" id="lblIGV"></label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <label class="control-label">Total</label>
                                                        <label class="control-lectura text-right" id="lblTotal"></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="styleSelector">
            </div>
        </div>
    </div>
</div>
<iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
<script src="~/Riztie/Js/App/AppLogistica.js"></script>
