
@{
    ViewBag.Title = "PedidoCompra";
    Layout = "~/Views/_LayoutPage.cshtml";
}
<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="card">
                <div class="card-header bg-primary">
                    <h3><i class="fa fa-file-o" aria-hidden="true"></i> REQUERIMIENTO DE AREAS USUARIAS</h3>
                    <div class="card-header-right">
                        <ul class="list-unstyled card-option">
                            <li><i class="fa fa-window-maximize full-card" style="color:white"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="card-block">
                    <div class="form-row">
                        <div class="form-group col-sm-3">
                            <label class="control-label">Fecha Inicio</label>
                            <input type="date" id="txtFechaInicio" class="control-form" value="@ViewBag.FechaInicial">
                        </div>
                        <div class="form-group col-sm-3">
                            <label class="control-label">Fecha Final</label>
                            <input type="date" id="txtFechaFinal" class="control-form" value="@ViewBag.Fecha">
                        </div>
                        <div class="form-group col-md-6">
                            <button class="input-group-inverse btn btn-inverse" id="btnConsultar" data-toggle="tooltip" data-placement="bottom" title="Consultar"><i class="fa fa-search fa-lg" aria-hidden="true"></i></button>
                            <button class="input-group-inverse btn btn-primary" id="btnNuevo" data-toggle="tooltip" data-placement="bottom" title="Nuevo"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></button>
                            <button class="btn btn-out waves-effect waves-light btn-success btn-square" id="btnAprobar" disabled="disabled" data-toggle="tooltip" data-placement="bottom" title="Aprobar Pedido"><i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i></button>
                            <button class="btn btn-out waves-effect waves-light btn-info btn-square" id="btnImprimir" data-toggle="tooltip" data-placement="bottom" title="Imprimir Pedido"><i class="fa fa-print fa-lg" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <div class="table-responsive dt-responsive" id="divLista"></div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="modal custom-modal" tabindex="-1" role="dialog" aria-hidden="true" id="divPopupContainer" style="overflow-y:auto;">
                            <div class="modal-dialog modal-xl bg-personalizado" id="divPopupWindow" style="margin-top:1px">
                                <div class="modal-content">
                                    <div id="divBarra" class="modal-header bg-personalizado" style="cursor:move">
                                        <h5 class="modal-title" id="tituloModal"></h5>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div id="divRegistro" class="col-xl-12">
                                                <fieldset class="fieldset">
                                                    <div class="row">
                                                        <div class="col-sm-3">
                                                            <label class="control-label">Tipo Requerimiento</label>
                                                            <input type="hidden" class="control-form Popup" id="txtIdRegistro">
                                                            <select class="control-form Reque Popup" id="cboTipoSolicitud"></select>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <label class="control-label">Nro. Requerimiento</label>
                                                            <input type="text" autocomplete="off" readonly="readonly" class="control-lectura Popup" id="txtNroPedido">
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <label class="control-label">Fecha Emisión</label>
                                                            <input type="date" id="txtFechaPedido" class="control-form Reque Popup" value="@ViewBag.Fecha" data-fecha="@ViewBag.Fecha">
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <label class="control-label">Fecha Requerida</label>
                                                            <input type="date" id="txtFechaRequerida" class="control-form Reque Popup">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-8">
                                                            <label class="control-label">Requerido por</label>
                                                            <select class="SelectSearch control-form Reque Popup" id="cboOficina"></select>
                                                        </div>
                                                        <div class="col-sm-1" style="padding-top: 25px;">
                                                            <button class="input-group-inverse btn btn-primary" id="btnAgregar" data-toggle="tooltip" data-placement="bottom" title="Nuevo Oficina"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></button>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <label class="control-label">Estado</label>
                                                            <label class="control-form" id="lblEstado"></label>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-3">
                                                            <label class="control-label">Documento Referencia</label>
                                                            <textarea class="control-form Reque Popup" id="ttaDocumentoReferencia" maxlength="200" rows="2"></textarea>
                                                        </div>
                                                        <div class="col-sm-5">
                                                            <label class="control-label">Justificación</label>
                                                            <textarea class="control-form Reque Popup" id="ttaJusticiacion" maxlength="200" rows="2"></textarea>
                                                        </div>
                                                        <div class="form-group col-sm-4">
                                                            <label class="control-label">&nbsp;</label>
                                                            <button class="btn btn-out waves-effect waves-light btn-info btn-square" id="btnConsutarItems"><i class="fa fa-search-plus" aria-hidden="true"></i></button>
                                                            <span id="spnLoad" style="color: rgb(250, 60, 19); border-color: black; font-weight: bold; display:none;">
                                                                <b>Obteniendo catálogo..</b>
                                                                <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="row m-2">
                                                        <div class="form-group col-sm-12">
                                                            <div class="table-responsive" style="height:315px;">
                                                                <table class='grilla bordered'>
                                                                    <thead>
                                                                        <tr class='FilaHead'>
                                                                            <th rowspan="2" style="white-space:pre-wrap;width:50px; display: none">Item</th>
                                                                            <th rowspan="2" style="white-space:pre-wrap;width:100px;">Código</th>
                                                                            <th rowspan="2" style="white-space:pre-wrap;width:500px;">Descripción</th>
                                                                            <th rowspan="2" style="white-space:pre-wrap;width:80px;">Unidad Medida</th>
                                                                            <th colspan="3">Cantidad</th>
                                                                            <th rowspan="2" style="white-space:pre-wrap;width:10px;"></th>
                                                                        </tr>
                                                                        <tr class='FilaHead'>
                                                                            <th style="white-space:pre-wrap; width:90px;">Solicitada</th>
                                                                            <th style="white-space:pre-wrap; width:70px;">Atendida</th>
                                                                            <th style="white-space:pre-wrap; width:70px;">Comprometida</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody id="tbDetallePedido"></tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group col-md-12">
                                                            <span id="spnNroItems" class="control-label">Items: 0</span>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer" style="text-align:left">
                                        <button class="btnCancelarForm" id="btnCancelar" title="Cancelar"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Cancelar</button>
                                        <button class="btnGuardarForm bg-customer" id="btnGuardar" title="Guardar datos"><span class="fa fa-save"></span>&nbsp;Grabar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal custom-modal" tabindex="-1" role="dialog" aria-hidden="true" id="divPopupContainerForm2" style="overflow-y:auto;">
                            <div class="modal-dialog modal-lg bg-personalizado" id="divPopupWindowForm2">
                                <div class="modal-content">
                                    <div id="divBarraForm2" class="modal-header bg-personalizado" style="cursor:move">
                                        <h5 class="modal-title">Detalle del Item</h5>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-sm-12 col-lg-12">
                                                <label id="lblnombreItem" class="control-label" data-id=""></label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-lg-12">
                                                <textarea class="form-control form-control-uppercase" style="word-break:break-all;" id="txtDetalleItem" rows="20"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btnCancelarForm" id="btnCancelarForm2" title="Cancelar"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Cancelar</button>
                                        <button class="btnGuardarForm bg-customer" id="btnAgregarDetalle" title="Agregar detalle"><span class="fa fa-save"></span>&nbsp;Agregar Detalle</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="divReporte" style="overflow:hidden;width:auto;display:none">
                            <table style="max-width: 2480px;width: 100%;font-family: Gotham, Helvetica Neue, Helvetica, Arial,' sans-serif';
    " cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <table width="100%" cellpadding="0" cellspacing="0" style="border: 1px solid black">
                                                <tbody>
                                                    <tr>
                                                        <td width="50%"></td>
                                                        <td style="font-size: 10px;text-align:right;font-weight: bold;vertical-align: top; padding:5px">
                                                            SISGESFIN-MÓDULO DE LOGISTICA
                                                        </td>
                                                    </tr>
                                                    <tr height="130px">
                                                        <td width="50%" style="font-size: 10px;text-align: left;font-weight: bold;vertical-align: top;">
                                                            IAFAS DE LA MARINA DE GUERRA EL PERU<br>
                                                            OFICINA DE LOGÍSTICA
                                                        </td>
                                                        <td width="33%" style="vertical-align: top">
                                                            <table style="border: 1px solid black">
                                                                <tr>
                                                                    <td style="font-size: 14px;text-align: center;font-weight: bold">REQUERIMIENTO DE AREAS USUARIAS</td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="font-size: 14px;text-align: center" id="tdNroSolicitud"></td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="4" style="font-size: 28px;font-weight: bold; padding:5px;color:red;text-align:center" id="tdEtiquetaEstado">
                                                        </td>
                                                    </tr>
                                                    <tr height="30px">
                                                        <td colspan="4" style="font-size: 14px;font-weight: bold; padding:5px">
                                                            <span id="spnPromotor"></span><br />
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <table width="100%" style="border: 1px solid black" cellspacing="5">
                                                <tr>
                                                    <td width="20%" style="font-size: 11px;text-align: right">Fecha Emisión:</td>
                                                    <td style="font-size: 11px;text-align: left;font-weight: bold" id="tdFechaPedido"></td>
                                                    <td style="font-size: 11px;text-align: right">Fecha Requerida:</td>
                                                    <td style="font-size: 11px;text-align: left;font-weight: bold" id="tdFechaRequerida"></td>
                                                </tr>
                                                <tr>
                                                    <td style="font-size: 11px;text-align: right">Tipo de Requerimiento:</td>
                                                    <td style="font-size: 11px;text-align: left;font-weight: bold" id="tdTipoSolicitud"></td>
                                                    <td style="font-size: 11px;text-align: right">Estado:</td>
                                                    <td style="font-size: 11px;text-align: left;font-weight: bold" id="tdEstado"></td>
                                                </tr>
                                                <tr>
                                                    <td style="font-size: 11px;text-align: right">Documento de referencia:</td>
                                                    <td colspan="3" style="        font-size: 11px;
        text-align: left;
       font-weight: bold
" id="tdDocumento">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="font-size: 11px;text-align: right">Elaborado por:</td>
                                                    <td colspan="3" style="        font-size: 11px;
        text-align: left;
       font-weight: bold
" id="tdElaborado">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="font-size: 11px;text-align: right">Justificacion:</td>
                                                    <td colspan="3" style="border: 1px solid black;font-size: 11px;text-align: left; padding:5px " id="tdJustificacion">
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <br>
                                            <table width="100%" cellpadding="0" cellspacing="0" style="font-size: 12px;border: 1px solid black;border-collapse: collapse;">
                                                <thead>
                                                    <tr>
                                                        <th style="border: black 1px solid;padding:5px">ITEM</th>
                                                        <th style="border: black 1px solid;">CODIGO</th>
                                                        <th style="border: black 1px solid;">DESCRIPCION</th>
                                                        <th style="border: black 1px solid;padding: 5px">UNIDAD</th>
                                                        <th style="border: black 1px solid;padding: 5px">CANTIDAD</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tblDetalleReporte"></tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="modal custom-modal" tabindex="-1" role="dialog" aria-hidden="true" id="divPopupContainerForm1" style="overflow-y:auto;">
                            <div class="modal-dialog modal-lg bg-personalizado" id="divPopupWindowForm1">
                                <div class="modal-content">
                                    <div id="divBarraForm1" class="modal-header bg-personalizado" style="cursor:move">
                                        <h5 class="modal-title">Seleccionar Items</h5>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <div class="table-responsive" id="listaItem" style="height:485px"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btnCancelarForm" id="btnCancelarForm1" title="Cancelar"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Cancelar</button>
                                        <button class="btnGuardarForm bg-customer" id="btnSeleccionarItems" title="btn btn-success"><span class="fa fa-hand-o-left"></span>&nbsp;Agregar Items</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="modal custom-modal" tabindex="-1" role="dialog" aria-hidden="true" id="divPopupContainerForm3" style="overflow-y:auto;">
                            <div class="modal-dialog modal-lg bg-personalizado" id="divPopupWindowForm3" style="margin-top:30px;">
                                <div class="modal-content">
                                    <div id="divBarraForm3" class="modal-header bg-personalizado" style="cursor:move">
                                        <h5 class="modal-title" id="tituloModal">Nuevo Registro</h5>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="form-group col-sm-6">
                                                <input type="hidden" class="control-form PopupOfi" id="txtIdRegistroOficina" value="0">
                                                <label class="control-label">Entidad</label>
                                                <select id="cboEntidad" class="control-lectura RequeOfi PopupOfi"></select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-sm-6">
                                                <label class="control-label">Id Padre</label>
                                                <select id="cboOficinaPadre" class="control-form PopupOfi"></select>
                                            </div>

                                            <div class="form-group col-sm-6">
                                                <label class="control-label">Codigo Oficina</label>
                                                <input type="text" autocomplete="off" class="control-lectura PopupOfi" id="txtCodOficina" readonly>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-sm-12">
                                                <label class="control-label">Nombre</label>
                                                <input type="text" autocomplete="off" class="control-form RequeOfi PopupOfi" id="txtNombre">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-sm-12">
                                                <label class="control-label">Abreviatura</label>
                                                <input type="text" autocomplete="off" class="control-form RequeOfi PopupOfi" id="txtNombre">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-sm-6">
                                                <label class="control-label" for="dtgEsAgenteRetencion">Es Final</label>
                                                <input type="checkbox" id="dtgEsFinal" class="PopupOfi" data-toggle="toggle" data-width="160px" data-on="SI" data-off="NO" data-onstyle="success" data-offstyle="danger">
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label class="control-label">Estado</label>
                                                <select id="cboEstado" class="control-lectura RequeOfi PopupOfi"></select>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button id="btnCancelarForm3" class="btnCancelarForm"  title="Cancelar"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Cancelar</button>
                                        <button id="btnGuardarForm3" class="btnGuardarForm bg-customer" title="Guardar datos"><span class="fa fa-save"></span>&nbsp;Grabar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div id="styleSelector">
        </div>
    </div>
</div>

<iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
<script src="~/Riztie/Js/App/AppLogistica.js"></script>

