@{
    ViewBag.Title = "SolicitudCompra";
    Layout = "~/Views/_LayoutPage.cshtml";
}
<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="card">
                <div class="card-header bg-primary">
                    <h3><i class="fa fa-money" aria-hidden="true"></i> Solicitud de Compra</h3>
                    <div class="card-header-right">
                        <ul class="list-unstyled card-option">
                            <li><i class="fa fa-window-maximize full-card" style="color:white"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="card-block">
                    <div class="form-row">
                        <div class="form-group col-sm-2">
                            <label class="control-label">Fecha Inicio</label>
                            <input type="date" id="txtFechaInicio" class="control-form" value="@ViewBag.FechaInicial">
                        </div>
                        <div class="form-group col-sm-2">
                            <label class="control-label">Fecha Final</label>
                            <input type="date" id="txtFechaFinal" class="control-form" value="@ViewBag.Fecha">
                        </div>
                        <div class="form-group col-md-4 m-3">
                            <button class="input-group-inverse btn btn-inverse" id="btnConsultar" data-toggle="tooltip" data-placement="bottom" title="Consultar"><i class="fa fa-search fa-lg" aria-hidden="true"></i></button>
                            <button class="input-group-inverse btn btn-primary" id="btnNuevo" data-toggle="tooltip" data-placement="bottom" title="Nuevo"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></button>
                            <button class="btn btn-out waves-effect waves-light btn-info btn-square" id="btnImprimir" data-toggle="tooltip" data-placement="bottom" title="Imprimir Pedido"><i class="fa fa-print fa-lg" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <div class="table-responsive dt-responsive" id="divLista"></div>
                        </div>
                    </div>
                    <div id="divReporte" style="overflow:hidden;width:auto;display:none">
                        <table style="max-width: 2480px;width: 100%;font-family: Gotham, Helvetica Neue, Helvetica, Arial,' sans-serif';
    " cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td>
                                        <table width="100%" cellpadding="0" cellspacing="0" style="border: 1px solid black">
                                            <tbody>
                                                <tr>
                                                    <td width="50%"></td>
                                                    <td style="font-size: 10px;text-align:right;font-weight: bold;vertical-align: top; padding:5px">
                                                        SISGESFIN<br />MÓDULO DE LOGISTICA
                                                    </td>
                                                </tr>
                                                <tr height="130px">
                                                    <td width="50%" style="font-size: 10px;text-align: left;font-weight: bold;vertical-align: top;">
                                                        IAFAS DE LA MARINA DE GUERRA EL PERU<br>
                                                        OFICINA DE LOGÍSTICA
                                                    </td>
                                                    <td width="13%" style="vertical-align: top">
                                                        <table style="border: 1px solid black">
                                                            <tr>
                                                                <td style="font-size: 14px;text-align: center;font-weight: bold">SOLICITUD DE COMPRA</td>
                                                            </tr>
                                                            <tr>
                                                                <td style="font-size: 14px;text-align: center" id="tdNroSolicitud"></td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table width="100%" style="border: 1px solid black" cellspacing="5">
                                            <tr>
                                                <td width="20%" style="font-size: 11px;text-align: right">Fecha Pedido:</td>
                                                <td style="font-size: 11px;text-align: left;font-weight: bold" id="tdFechaPedido"></td>
                                            </tr>
                                            <tr>
                                                <td style="font-size: 11px;text-align: right">Tipo de Solicitud:</td>
                                                <td style="font-size: 11px;text-align: left;font-weight: bold" id="tdTipoSolicitud"></td>
                                                <td style="font-size: 11px;text-align: right">Estado:</td>
                                                <td style="font-size: 11px;text-align: left;font-weight: bold" id="tdEstado"></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <br>
                                        <table width="100%" cellpadding="0" cellspacing="0" style="font-size: 12px;border: 1px solid black;border-collapse: collapse;">
                                            <thead>
                                                <tr>
                                                    <th style="border: black 1px solid;padding:5px" colspan="4">PEDIDO DE COMPRA BB&SS</th>
                                                </tr>
                                                <tr>
                                                    <th style="border: black 1px solid;padding:5px">NRO. PEDIDO</th>
                                                    <th style="border: black 1px solid;">OFICINA</th>
                                                    <th style="border: black 1px solid;">FECHA</th>
                                                    <th style="border: black 1px solid;padding: 5px">REFERENCIA</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tblDetallePedido"></tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <br>
                                        <table width="100%" cellpadding="0" cellspacing="0" style="font-size: 12px;border: 1px solid black;border-collapse: collapse;">
                                            <thead>
                                                <tr>
                                                    <th style="border: black 1px solid;padding:5px" colspan="5">DETALLE DE LA SOLICITUD DE COMPRA</th>
                                                </tr>
                                                <tr>
                                                    <th style="border: black 1px solid;padding:5px">ITEM</th>
                                                    <th style="border: black 1px solid;">CODIGO</th>
                                                    <th style="border: black 1px solid;">DESCRIPCION</th>
                                                    <th style="border: black 1px solid;padding: 5px">UNIDAD</th>
                                                    <th style="border: black 1px solid;padding: 5px">CANTIDAD</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tblDetalleReporte"></tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="form-row">
                        <div class="modal custom-modal" tabindex="-1" role="dialog" aria-hidden="true" id="divPopupContainer" style="overflow-y:auto;">
                            <div class="modal-dialog modal-xl bg-personalizado" id="divPopupWindow" style="margin-top:1px;max-width:100%">
                                <div class="modal-content">
                                    <div id="divBarra" class="modal-header bg-personalizado" style="cursor:move">
                                        <h5 class="modal-title" id="tituloModal"></h5>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <label class="control-label">Año</label>
                                            <div class="col-sm-1">
                                                <input type="hidden" class="control-form Popup" id="txtIdSolicitud">
                                                <input type="number" id="numAnioPendiente" class="control-form" value="@ViewBag.Anio" />
                                            </div>
                                            <label class="control-label">Tipo Solicitud</label>
                                            <div class="col-sm-3">
                                                <select class="control-form Reque Popup" id="cboTipoSolicitud"></select>
                                            </div>
                                        </div>
                                        <div class="row m-2">
                                            <div class="col-xl-6 col-md-12">
                                                <div class="card table-card">
                                                    <div class="card-header">
                                                        <h5>Pedidos pendientes</h5>
                                                    </div>
                                                    <div class="card-block">
                                                        <div class="form-group col-sm-12">
                                                            <div class="table-responsive" id="listaItem" style="height:430px;">
                                                                <table class='grilla bordered'>
                                                                    <thead>
                                                                        <tr class='FilaHead'>
                                                                            <th style="width:10px;"></th>
                                                                            <th style="width:50px;">Nº Solicitud BB&SS</th>
                                                                            <th style="width:50px;">Fecha Solicitud</th>
                                                                            <th style="width:50px;">Fecha Requerida</th>
                                                                            <th style="width:180px;">Area</th>
                                                                            <th style="width:500px;">Justificación</th>
                                                                            <th style="width:50px;">Estado</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        <div class="m-r-20">
                                                            <span class="b-b-primary text-primary" id="spnNPedidos">Pendientes:0</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-md-12">
                                                <div class="card table-card review-card">
                                                    <div class="card-header">
                                                        <h5>Items pendientes</h5>
                                                    </div>
                                                    <div class="card-block">
                                                        <div class="form-group col-sm-12">
                                                            <div class="table-responsive" style="height:430px;">
                                                                <table class='grilla bordered'>
                                                                    <thead>
                                                                        <tr class='FilaHead'>
                                                                            <th rowspan="2" style="width:50px;">Item</th>
                                                                            <th rowspan="2" style="width:600px;">Descripción</th>
                                                                            <th rowspan="2" style="width:50px;">Unidad Medida</th>
                                                                            <th colspan="3">Cantidad</th>
                                                                        </tr>
                                                                        <tr class='FilaHead'>
                                                                            <th style="width:50px;">Pendiente</th>
                                                                            <th style="width:70px;">Solicitada</th>
                                                                            <th style="width:70px;">Atendida</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody id="tbDetallePedido"></tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        <div class="m-r-20">
                                                            <span id="spnNroItems" class="control-label">Items: 0</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btnCancelarForm" id="btnCancelar" title="Cancelar"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Cancelar</button>
                                        <button class="btnGuardarForm bg-customer" id="btnGuardar" title="Guardar datos"><span class="fa fa-save"></span>&nbsp;Grabar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal custom-modal" tabindex="-1" role="dialog" aria-hidden="true" id="divPopupContainerForm1" style="overflow-y:auto;">
                            <div class="modal-dialog modal-lg bg-personalizado" id="divPopupWindowForm1">
                                <div class="modal-content">
                                    <div id="divBarraForm1" class="modal-header bg-personalizado" style="cursor:move">
                                        <h5 class="modal-title">Solicitud de compra</h5>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <label class="control-label">Solicitud Número</label>
                                                <label class="control-lectura" id="lblNumero"></label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <label class="control-label">Tipo</label>
                                                <label class="control-lectura" id="lblTipo"></label>
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="control-label">Fecha Emisión</label>
                                                <label class="control-lectura" id="lblFechaEmision"></label>
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="control-label">Estado</label>
                                                <label class="control-lectura" id="lblEstado"></label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="table-responsive" id="listaDetalle"></div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btnCancelarForm" id="btnCancelarForm1" title="Cancelar"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Cancelar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="styleSelector">
        </div>
    </div>
</div>
<iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
<script src="~/Riztie/Js/App/AppLogistica.js"></script>

